<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言板</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/comment/css/show.css">
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="__ROOT_ADMIN__/js/qna.js"></script>
	<script type="text/javascript" src="__ROOT_ADMIN__/js/pager.js"></script>


</head>
<body>
	<!-- 开始 -->
	<div class="mainContainner">
		<div class="commentBox">
				<div class="Ctop">
					<label class="Ctitle"><img src="__PUBLIC_HOME__/comment/img/user_comment.png">我来说两句</label>
					<label class="Ctip">已有<span class="Ccount" id="Ccount"></span>条评论</label>
				</div>
				<div class="Cattitude">
					<form>
						<label>我的态度：</label>
						<input type="radio" name="attitude"value='1' checked="checked"><img src="__PUBLIC_HOME__/comment/img/zheng.png"></input>
						<input type="radio" name="attitude"value='-1'><img src="__PUBLIC_HOME__/comment/img/fan.png"></input>
						<input type="radio" name="attitude"value='0'><img src="__PUBLIC_HOME__/comment/img/zhong.png"></input>
					</form>
				</div>
				<div class="Cinput">
					<textarea placeholder="请输入评论内容" class="Ccont" id="Ccont"></textarea>
				</div>
				<div class="Csunbmit">
					<label class="Cnick" >你的昵称：</label>
					<input class="Cusername" placeholder="你的昵称" id="Cusername" ></input>
					<button class="submitBtn" onclick="submit_pl(0)">发布评论</button>
				</div>
		</div>
		<div class="Corder">
			<button id="newBtn" onclick="start(0)">最新</button>
			<button id="hotBtn" onclick="start(1)">最热</button>
		</div>
		<div class="CommentList">
		    <ul class="listul">
		    </ul>
		</div>
		<div class="fydiv">
			<ul class="fenye">
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	start(0)
	</script>
	<!-- 结束 -->
	<form action="__ROOT_ADMIN__/php/add.php" method="post">
		<input type="text" name="dfd" >
		<input type="submit" name="" value="提交">
	</form>
</body>
</html>