
    
    <link href="__PUBLIC_HOME__/css/list/index.css" rel="stylesheet" type="text/css">
  
<div class="index">

            
<div class="index-box">
    <div class="index-box-border">
        <div class="index-box-cap clearfix">
            <h3>快速找到对症医生</h3>
            <ul class="tab">
                <li class="now"><span>按疾病找</span></li>
                <li><span>按科室找</span></li>
            </ul>
            <div class="rm"><a target="_blank" class="icon-check" href="http://jbk.39.net/zicha">使用症状自查 找对就诊科室</a></div>
        </div>
        <div class="index-box-con">
            <div class="tag">
                <ul class="clearfix">
                    <li><a target="_blank" href="/suqian/doctors/ganbing/">肝病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/buyunbuyu/">不孕不育</a></li>
                    <li><a target="_blank" href="/suqian/doctors/yzjptc/">腰椎间盘突出</a></li>
                    <li><a target="_blank" href="/suqian/doctors/jingzhuibing/">颈椎病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/biyan/">鼻炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/danjieshi/">胆结石</a></li>
                    <li><a target="_blank" href="/suqian/doctors/baidianfeng/">白癜风</a></li>
                    <li><a target="_blank" href="/suqian/doctors/jiakang/">甲亢</a></li>
                    <li><a target="_blank" href="/suqian/doctors/shenjieshi/">肾结石</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xingbing/">性病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/yiyuzheng/">抑郁症</a></li>
                    <li><a target="_blank" href="/suqian/doctors/dianxian/">癫痫</a></li>
                    <li><a target="_blank" href="/suqian/doctors/weibing/">胃病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/toutong/">头痛</a></li>
                    <li><a target="_blank" href="/suqian/doctors/kouchou/">口臭</a></li>
                    <li><a target="_blank" href="/suqian/doctors/bianmi/">便秘</a></li>
                    <li><a target="_blank" href="/suqian/doctors/huchou/">狐臭</a></li>
                    <li><a target="_blank" href="/suqian/doctors/pifubing/">皮肤病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xueguanliu/">血管瘤</a></li>
                    <li><a target="_blank" href="/suqian/doctors/niupixuan/">牛皮癣</a></li>
                    <li><a target="_blank" href="/suqian/doctors/longxiong/">隆胸</a></li>
                    <li><a target="_blank" href="/suqian/doctors/longbi2/">隆鼻</a></li>
                    <li><a target="_blank" href="/suqian/doctors/zhifa/">植发</a></li>
                    <li><a target="_blank" href="/suqian/doctors/naozhongliu/">脑肿瘤</a></li>
                    <li><a target="_blank" href="/suqian/doctors/zhichuang/">痔疮</a></li>
                    <li><a target="_blank" href="/suqian/doctors/ganglou/">肛瘘</a></li>
                </ul>
            </div>
            <div class="kind clearfix">
                <ul class="kind-item icon-woman">
                    <li><a target="_blank" href="/suqian/doctors/ruxianai/">乳腺癌</a></li>
                    <li><a target="_blank" href="/suqian/doctors/yindaoyan/">阴道炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/luanchaonangzhong/">卵巢囊肿</a></li>
                    <li><a target="_blank" href="/suqian/doctors/zigongjiliu/">子宫肌瘤</a></li>
                    <li><a target="_blank" href="/suqian/doctors/ruxianzengsheng/">乳腺增生</a></li>
                    <li><a target="_blank" href="/suqian/doctors/yuejingshidiao/">月经失调</a></li>
                    <li><a target="_blank" href="/suqian/doctors/renliu/">人流</a></li>
                    <li><a target="_blank" href="/suqian/doctors/gongjingyan/">宫颈炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/penqiangyan/">盆腔炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/tongjing/">痛经</a></li>
                </ul>
                <ul class="kind-item icon-child">
                    <li><a target="_blank" href="/suqian/doctors/xsehd/">新生儿黄疸</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xezqgy/" title="小儿支气管炎">小儿支气管炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xezytfy/" title="小儿支原体肺炎">小儿支原体肺炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xiaoeryiniao/">小儿遗尿</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xiaoershanqi/">小儿疝气</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xiaoerdianxian/">小儿癫痫</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xiaoerxiaochuan/">小儿哮喘</a></li>
                </ul>
                <ul class="kind-item icon-man">
                    <li><a target="_blank" href="/suqian/doctors/qianliexianyan/">前列腺炎</a></li>
                    <li><a target="_blank" href="/suqian/doctors/baopiguozhang/">包皮过长</a></li>
                    <li><a target="_blank" href="/suqian/doctors/nanxingbuyu/">男性不育</a></li>
                    <li><a target="_blank" href="/suqian/doctors/zaoxie/">早泄</a></li>
                    <li><a target="_blank" href="/suqian/doctors/yangwei/">阳痿</a></li>
                    <li><a target="_blank" href="/suqian/doctors/jsjmqz/" title="精索静脉曲张">精索静脉曲张</a></li>
                </ul>
                <ul class="kind-item icon-oldman">
                    <li><a target="_blank" href="/suqian/doctors/gaoxueya/">高血压</a></li>
                    <li><a target="_blank" href="/suqian/doctors/tangniaobing/">糖尿病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/guanxinbing/">冠心病</a></li>
                    <li><a target="_blank" href="/suqian/doctors/tongfeng/">痛风</a></li>
                    <li><a target="_blank" href="/suqian/doctors/xinjibing/" title="心肌梗塞(心肌病)">心肌梗塞（心肌病）</a></li>
                    <li><a target="_blank" href="/suqian/doctors/guzhishusong/">骨质疏松</a></li>
                    <li><a target="_blank" href="/suqian/doctors/baineizhang/">白内障</a></li>
                </ul>
            </div>
        </div>
        <div class="index-box-con" style="display:none;">
            <div class="lab">
                <ul class="lab-list clearfix">
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/neike/">内科 ></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/huxineike/">呼吸内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xinxueguanneike/">心血管内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/shenjingneike/">神经内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xueyeneike/">血液内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/neifenmike/">内分泌科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/fengshineike/">风湿内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/shenneike/">肾内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/guominfanyingke/">过敏反应科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/waike/">外科 ></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/miniaowaike/">泌尿外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/ruxianwaike/">乳腺外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/shenjingwaike/">神经外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xinxiongwaike/">心胸外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/gandanwaike/">肝胆外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/gangchangwaike/">肛肠外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/jiazhuangxianwaike/">甲状腺外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/weichangwaike/">胃肠外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhengxingwaike/">整形外科</a></span>                                               
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/fuchanke/">妇产科></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/fuke/">妇科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/chanke/">产科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/jihuashengyuke/">计划生育科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/chanqianjianchake/">产前检查科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/yichuanzixunke/">遗传科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/erke/">儿科></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/xiaoerneike/">小儿内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xiaoerwaike/">小儿外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xinshengerke/">新生儿科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xiaoerxiaohuake/">小儿消化科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xiaoerhuxike/">小儿呼吸科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xiaoermianyike/">小儿免疫科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/guke/">骨科></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/guwaike/">骨外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/guanjiewaike/">脊柱外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/jizhuwaike/">关节外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/shouwaike/">手外科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_self" href="javascript:void(0);">五官科></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/yanke/">眼科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/toujingwaike/">头颈外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/erbihouke/">耳鼻喉科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/kouqiangke/">口腔科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/zhongyike/">中医科></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/zhongyineike/">中医内科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongyiwaike/">中医外科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongyifuke/">中医妇科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongyierke/">中医儿科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongyinanke/">中医男科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongyipifuke/">中医皮肤科</a></span>
                        </div>
                    </li>
                    <li>
                        <h4><a target="_blank" href="/suqian/doctors/">其他></a></h4>
                        <div class="lab-link">
                            <span><a target="_blank" href="/suqian/doctors/pifuke/">皮肤科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xingbingke/">性病科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/nanke/">男科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/zhongliuke/">肿瘤科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/jingshenke/">精神科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/xinlike/">心理科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/chuanranbingke/">传染病科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/ganbingke/">肝病科</a></span>
                            <span><a target="_blank" href="/suqian/doctors/kangfuke/">康复科</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>            

 </div>


<script src="__PUBLIC_HOME__/js/index.js"></script>



