<ul class="g-clear main-menu-nav">
<li class="hot">
    <a class="own-tab" target="_blank" href="" monitor="public_menu,home_menu,ask">健康资讯</a>

</li>
<li><a target="_blank" href="{:U('home/index/fastorder')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,home_menu,fastpoder">网站公告</a></li>
<li><a target="_blank" target="_blank" href="{:U('home/index/hospital')}" >在线咨询</a></li>
<li class="authority"><a class="own-tab" target="_blank" target="_blank" href="{:U('home/index/fastorder')}" rel="nofollow">医生论坛</a>

</li>
<li data-subnav="sub-nav-welife"><a target="_blank" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">
健康</a>
<ul>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
</ul>
</li>


<li><a target="_blank" href="#" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">医药直通车</a></li>
  <li><a target="_blank" href="__PUBLIC_MUSIC__" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">医疗器械</a>
<ul>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
</ul>
  </li>

   <li><a target="_blank" href="" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">宣传耗材</a>
   	<ul>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                </ul>
   </li>


</ul>
<div></div>
<ul class="g-clear main-menu-nav">
<li class="hot">
    <a  target="_blank" href="{:U('home/index/hospital')}" >慈善</a>
    <ul>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
</ul>
</li>
<li><a target="_blank" href="" rel="nofollow" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,home_menu,fastpoder">健康视频</a>
	<ul>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
</ul>
</li>
<li><a target="_blank" target="_blank" href="{:U('home/index/ask')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,home_menu,preciseorder">搞笑视频</a>
	<ul>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
    <li><a href="#">二级菜单</a></li>
</ul>
</li>



  <li><a target="_blank" href="__PUBLIC_MUSIC__" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">优选音乐</a></li>

   <li><a target="_blank" href="{:U('home/index/video')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">微视频</a>
   	 <ul>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                </ul>
   </li>


</ul>