
              <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>健康资讯</h2>
                        <span class="slogan">
            关注健康，享受生活！
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left">
                            <div class="news-main g-clear">
                                <div class="news-item medical-strategy J_medicalStrategy">
                                    <h5>养生<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=养生" target="_blank">更多</a></li></h5> 
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist[0]['ins_id']}">
                                            {$imgurl}
                                          
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist[0]['ins_id']}" class="title">{$substrlist}</a>
                                            <span class="summary">
                                   {$substr}
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist[0]['ins_id']}">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist" item="val" key="key">
                                          <if condition="$val['class'] eq '养生'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher">
                                    <h5>健康<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=健康" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist1[0]['ins_id']}">
                                             {$imgurl1}
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist1[0]['ins_id']}" class="title">{$substrlist1}</a>
                                            <span class="summary">
                                   {$substr1}
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist1[0]['ins_id']}">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist1" item="val" key="key">
                                          <if condition="$val['class'] eq '健康'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="news-item health-preserve J_healthPreserve">
                                    <h5>两性<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=两性" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist2[0]['ins_id']}">
                                            {$imgurl2}
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist2[0]['ins_id']}" class="title">{$substrlist2}</a>
                                            <span class="summary">
                             {$substr2}
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist2[0]['ins_id']}">[详细]
                                    </a>
                        </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist2" item="val" key="key">
                                          <if condition="$val['class'] eq '两性'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item health-hot J_healthHot">
                                   
                                        <h5>减肥<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=减肥" target="_blank">更多</a></li></h5>
                                    
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist3[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl3}
                                        </a>
                                        <div class="text">
                                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist3[0]['ins_id']}" class="title">{$substrlist3}</a>
                                            <span class="summary">
                                {$substr3}
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist3[0]['ins_id']}">[详细]
                                    </a>
                            </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist3" item="val" key="key">
                                          <if condition="$val['class'] eq '减肥'">
                                           <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                          
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">     
                    <div class="news-item health-preserve J_healthPreserve ">
                            <h5>美容<li style="float:right;list-style:none;"><a href="{:U('home/index/topiclist')}?class=美容" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow1[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl4}
                            </a>
                            <div class="text">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow1[0]['ins_id']}" class="title">{$substrlist4}</a>
                            <span class="summary">
                           {$substr4}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow1[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow1" item="val" key="key">
                            <if condition="$val['class'] eq '美容'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>
                            <div class="news-item health-hot J_healthHot ">

                            <h5>饮食<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=饮食" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow2[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl5}
                            </a>
                            <div class="text">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow2[0]['ins_id']}" class="title">{$substrlist5}</a>
                            <span class="summary">
                            {$substr5}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow2[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow2" item="val" key="key">
                            <if condition="$val['class'] eq '饮食'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>    </div>

                         <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">
                           <div class="news-item health-preserve J_healthPreserve">
                            <h5>母婴<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=母婴" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow3[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl6}
                            </a>
                            <div class="text">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow3[0]['ins_id']}" class="title">{$substrlist6}</a>
                            <span class="summary">
                             {$substr6}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow3[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow3" item="val" key="key">
                            <if condition="$val['class'] eq '母婴'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>





                            <div class="news-item health-hot J_healthHot">

                            <h5>运动<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=运动" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow4[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl7}
                            </a>
                            <div class="text">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow4[0]['ins_id']}" class="title">{$substrlist7}</a>
                            <span class="summary">
                            {$substr7}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow4[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow4" item="val" key="key">
                            <if condition="$val['class'] eq '运动'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>   </div>


                         <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">
                           <div class="news-item health-preserve J_healthPreserve">
                            <h5>百科<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=百科" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                              <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl8}
                            </a>
                            <div class="text">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}" class="title">{$substrlist8}</a>
                            <span class="summary">
                            {$substr8}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                             <foreach name="listrow5" item="val" key="key">
                            <if condition="$val['class'] eq '百科'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>





                            <div class="news-item health-hot J_healthHot">

                            <h5>资讯<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=健康资讯" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow6[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl9}
                            </a>
                            <div class="text">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow6[0]['ins_id']}" class="title">{$substrlist9}</a>
                            <span class="summary">
                            {$substr9}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow6[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow6" item="val" key="key">
                            <if condition="$val['class'] eq '健康资讯'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>   </div>



<!-- 
                            <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">
                            <div class="news-item health-preserve J_healthPreserve">
                            <h5>百科<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=百科" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                             <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl8}
                            </a>
                            <div class="text">
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}" class="title">{$substrlist8}</a>
                            <span class="summary">
                            {$substr8}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$listrow5[0]['ins_id']}">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow5" item="val" key="key">
                            <if condition="$val['class'] eq '百科'">
                            <if condition="$val['unit_price'] eq '1'">
                            <if condition="$key gt 0">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                        </if>
                            </foreach>
                            </ul>
                            </div>
                            </div></div> -->
                        </div>


                        <div class="g-grid-right">
                            <div class="hot-topic J_hotTopic">
                                <p class="module">
                                    热门排行
                                    <span class="operation">
                    <a href="javascript:;" id="weekid"  class="active">每周</a>
                    <span class=""></span>
                                    <a href="javascript:;" id="monthid" >每月</a>
                                    </span>
                                </p>
                                <div class="J_hotTopicList">
                                    <div class="focus-list">
                                        <ul class="classweek">
                                             <foreach name="listhot" item="vo" key="key">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" class="title" title="{$vo.inspection_name}">
                                                    <span class="sort-number">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                            </li>
                                           </foreach>
                                        </ul>
                                        <ul class="classmonth" style="display: none;">
                                             <foreach name="listhot1" item="vo" key="key">
                                            <li>
                                                 <a target="_blank" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" class="title" title="{$vo.inspection_name}">
                                                    <span class="sort-number">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                            </li>
                                        </foreach>
                                           
                                           
                                            
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="wy-video" id="J_VideoHook">
                                <p class="module">择医网讲堂
                                    <span></span><a href="{:U('home/index/topiclist')}?class=择医网讲堂" target="_blank">更多</a></p>
                                    <foreach name="reslist10" item="vo" key="key">
                                    <li style="list-style-type:none">
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$vo.ins_id}" class="title" title="经常跷二郎腿对身体有害吗？">
                                                    <span class="sort-number" style="color:#377bee">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                    </li>
                                  &nbsp;
                                </foreach>
                            </div>
                        </div>
                    </div>
                </div>

<script type="text/javascript">
    $(document).ready(function(){
       $("#weekid").hover(function(){
        $(".classweek").css('display','block');
        $(".classmonth").css('display','none');
       });

       $("#monthid").hover(function(){
         $(".classweek").css('display','none');
        $(".classmonth").css('display','block');
        $("#monthid").addClass('active');
        $("#weekid").removeClass('active');
       });

    });
</script>