  <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>医院入住</h2>
                        <span class="slogan">
            <!-- 关注健康，享受生活！ -->
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left" style="width:1200px;border-style:solid;">
                           
                            <div class="news-main g-clear" style="float:left;width:580px;border-radius: 5px;border:1px solid #e4e4e4">
                                 <h5 style="padding: 0px 23px 20px 17px;font-size: 18px;font-weight: normal;color: #666;">&nbsp;&nbsp;推荐医院<li style="float:right;list-style:none;font-size: 10px;"><a href="{:U('home/index/zonghelist')}" target="_blank">更多</a>&nbsp;</li></h5>
                                 <foreach name="rowlist" item="vo">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:150px;border-right: 1px dotted #f9fbf9;">
                                    
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/zonghe')}?id={$vo.id}">
                                            <img src="__PUBLIC_HOME__/images/default_yy.gif" alt="">
                                        </a>
                                        
                                    </div><br/>
                                       {$vo.hospital}<br/>
                                       二级甲等
                                </div>
                            </foreach>  
                            </div>
                         <div class="news-main g-clear" style="float:left;width:10px;border-top: 2px solid rgb(255, 255, 255);"> </div>

                            <div class="news-main g-clear" style="float:left;width:580px;border-radius: 5px;border:1px solid #e4e4e4">
                             <h5 style="padding: 0px 23px 20px 17px;font-size: 18px;font-weight: normal;color: #666;">&nbsp;&nbsp;推荐医生<li style="float:right;list-style:none;font-size: 10px;"><a href="{:U('home/index/yishenlist')}" target="_blank">更多</a>&nbsp;</li></h5> 
                                <foreach name="rowdoctor" item="vo">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:150px;border-right: 1px dotted #f9fbf9;">
                                    
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/zonghe')}?id={$vo.id}">
                                            <img src="__PUBLIC_HOME__/images/doctorlist.png" alt="">
                                        </a>
                                        
                                    </div><br/>
                                       {$vo.hospital}<br/>
                                       医生
                                </div>
                            </foreach>  </div>

                        </div>
                       
                    </div>
                </div>