  <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>医院信息</h2>
                        <span class="slogan">
            <!-- 关注健康，享受生活！ -->
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left" style="width:1200px">
                            <div class="news-main g-clear">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:300px;border-right: 1px dotted #f9fbf9">
                                    <h5>医院公开<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院公开" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1536026134780.jpg" alt="又双叒叕流产！怎么才能保住宝宝？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">又流产！怎么保住宝宝？</a>
                                            <span class="summary">
                                    对于一个期待成为母亲的女性而言，不孕是很痛苦的，但比之更痛苦的，是怀孕后却保不住自己的宝宝第一胎，雀跃着欢喜着，宝宝没保...
                                        <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist4" item="val">
                                          <if condition="$val['class'] eq '医院公开'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="width:300px">
                                    <h5>医院动态<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院动态" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist5" item="val">
                                          <if condition="$val['class'] eq '医院动态'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="">
                                    <h5>医院健康<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院健康" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist6" item="val">
                                          <if condition="$val['class'] eq '医院健康'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                         <div class="g-grid-left" style="width:1200px">
                            <div class="news-main g-clear" style="border-top: 2px solid rgba(180, 183, 178, 0.06);">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:300px;border-right: 1px dotted #f9fbf9">
                                    <h5>医院党建<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=就医攻略" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1536026134780.jpg" alt="又双流产！怎么保住宝宝？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">又双流产！怎么保住宝宝？</a>
                                            <span class="summary">
                                    对于一个期待成为母亲的女性而言，不孕是很痛苦的，但比之更痛苦的，是怀孕后却保不住自己的宝宝第一胎，雀跃着欢喜着，宝宝没保...
                                        <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist7" item="val">
                                          <if condition="$val['class'] eq '医院党建'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="width:300px">
                                    <h5>医院视频<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院视频" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '医院视频'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="">
                                    <h5>我拍拍<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=我拍拍" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '我拍拍'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>