
              <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>健康资讯</h2>
                        <span class="slogan">
            关注健康，享受生活！
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left">
                            <div class="news-main g-clear">
                                <div class="news-item medical-strategy J_medicalStrategy">
                                    <h5>养生<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=养生" target="_blank">更多</a></li></h5> 
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1536026134780.jpg" alt="又双叒叕流产！怎么才能保住宝宝？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">又双叒叕流产！怎么才能保住宝宝？</a>
                                            <span class="summary">
                                    对于一个期待成为母亲的女性而言，不孕是很痛苦的，但比之更痛苦的，是怀孕后却保不住自己的宝宝第一胎，雀跃着欢喜着，宝宝没保...
                                        <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '养生'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher">
                                    <h5>健康<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=健康" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist1" item="val">
                                          <if condition="$val['class'] eq '健康'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="news-item health-preserve J_healthPreserve">
                                    <h5>两性<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=两性" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                        </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist2" item="val">
                                          <if condition="$val['class'] eq '两性'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item health-hot J_healthHot">
                                   
                                        <h5>减肥<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=减肥" target="_blank">更多</a></li></h5>
                                    
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                                            <span class="summary">
                                关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                                <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist3" item="val">
                                          <if condition="$val['class'] eq '减肥'">
                                           <if condition="$val['unit_price'] eq '1'">
                                          
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">     
                    <div class="news-item health-preserve J_healthPreserve ">
                            <h5>美容<li style="float:right;list-style:none;"><a href="{:U('home/index/topiclist')}?class=美容" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow1" item="val">
                            <if condition="$val['class'] eq '美容'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>
                            <div class="news-item health-hot J_healthHot ">

                            <h5>饮食<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=饮食" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                            <span class="summary">
                            关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow2" item="val">
                            <if condition="$val['class'] eq '饮食'">
                            <if condition="$val['unit_price'] eq '1'">

                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>    </div>

                         <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">
                           <div class="news-item health-preserve J_healthPreserve">
                            <h5>母婴<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=母婴" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow3" item="val">
                            <if condition="$val['class'] eq '母婴'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>





                            <div class="news-item health-hot J_healthHot">

                            <h5>运动<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=运动" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                            <span class="summary">
                            关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow4" item="val">
                            <if condition="$val['class'] eq '运动'">
                            <if condition="$val['unit_price'] eq '1'">

                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>   </div>




                            <div class="news-main g-clear" style="border-top: 2px solid #ffffff;">
                            <div class="news-item health-preserve J_healthPreserve">
                            <h5>百科<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=百科" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="listrow5" item="val">
                            <if condition="$val['class'] eq '百科'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div></div>
                        </div>
                        <div class="g-grid-right">
                            <div class="hot-topic J_hotTopic">
                                <p class="module">
                                    热门排行
                                    <span class="operation">
                    <a href="javascript:;" id="weekid"  class="active">每周</a>
                    <span class=""></span>
                                    <a href="javascript:;" id="monthid" >每月</a>
                                    </span>
                                </p>
                                <div class="J_hotTopicList">
                                    <div class="focus-list">
                                        <ul class="classweek">
                                             <foreach name="listhot" item="vo" key="key">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" class="title" title="{$vo.inspection_name}">
                                                    <span class="sort-number">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                            </li>
                                           </foreach>
                                        </ul>
                                        <ul class="classmonth" style="display: none;">
                                             <foreach name="listhot1" item="vo" key="key">
                                            <li>
                                                 <a target="_blank" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" class="title" title="{$vo.inspection_name}">
                                                    <span class="sort-number">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                            </li>
                                        </foreach>
                                           
                                           
                                            
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="wy-video" id="J_VideoHook">
                                <p class="module">择医网讲堂
                                    <span></span><a href="{:U('home/index/topiclist')}?class=择医网讲堂" target="_blank">更多</a></p>
                                    <foreach name="reslist10" item="vo" key="key">
                                    <li style="list-style-type:none">
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$vo.ins_id}" class="title" title="经常跷二郎腿对身体有害吗？">
                                                    <span class="sort-number" style="color:#377bee">{$key+1}</span>
                                                    <span class="content">{$vo.inspection_name}</span>
                                                </a>
                                    </li>
                                  &nbsp;
                                </foreach>
                            </div>
                        </div>
                    </div>
                </div>

<script type="text/javascript">
    $(document).ready(function(){
       $("#weekid").hover(function(){
        $(".classweek").css('display','block');
        $(".classmonth").css('display','none');
       });

       $("#monthid").hover(function(){
         $(".classweek").css('display','none');
        $(".classmonth").css('display','block');
        $("#monthid").addClass('active');
        $("#weekid").removeClass('active');
       });

    });
</script>