  <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>医院信息</h2>
                        <span class="slogan">
            <!-- 关注健康，享受生活！ -->
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left" style="width:1200px">
                            <div class="news-main g-clear">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:300px;border-right: 1px dotted #f9fbf9">
                                    <h5>医院公开<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院公开" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                         <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist4[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl11}
                                         </a>
                                        <div class="text">
                                           <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist4[0]['ins_id']}" class="title">{$substrlist11}</a>
                                            <span class="summary">
                                     {$substr11}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist4[0]['ins_id']}">[详细]
                            </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist4" item="val" key="key">
                                          <if condition="$val['class'] eq '医院公开'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                     <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                                </a>
                                               
                                            </li>
                                            </if>
                                        </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="width:300px">
                                    <h5>医院动态<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院动态" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                         <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist5[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl22}
                                         </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist5[0]['ins_id']}" class="title">{$substrlist22}</a>
                                            <span class="summary">
                                     {$substr22}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist5[0]['ins_id']}">[详细]
                            </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist5" item="val" key="key">
                                          <if condition="$val['class'] eq '医院动态'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                      <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                                </a>
                                              
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="">
                                    <h5>医院健康<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院健康" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist6[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl33}
                                         </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist6[0]['ins_id']}" class="title">{$substrlist33}</a>
                                            <span class="summary">
                                    {$substr33}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist6[0]['ins_id']}">[详细]</a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist6" item="val" key="key">
                                          <if condition="$val['class'] eq '医院健康'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                     <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                                </a>
                                               
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                         <div class="g-grid-left" style="width:1200px">
                            <div class="news-main g-clear" style="border-top: 2px solid rgba(180, 183, 178, 0.06);">
                                <div class="news-item medical-strategy J_medicalStrategy" style="width:300px;border-right: 1px dotted #f9fbf9">
                                    <h5>医院党建<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=就医攻略" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                         <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist7[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl44}
                                         </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist7[0]['ins_id']}" class="title">{$substrlist44}</a>
                                            <span class="summary">
                                    {$substr44}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist7[0]['ins_id']}">[详细]</a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist7" item="val" key="key">
                                          <if condition="$val['class'] eq '医院党建'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                    <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                                </a>
                                                
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="width:300px">
                                    <h5>医院视频<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=医院视频" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                       <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist8[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl55}
                                         </a>
                                        <div class="text">
                                           <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist8[0]['ins_id']}" class="title">{$substrlist55}</a>
                                            <span class="summary">
                                   {$substr55}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist8[0]['ins_id']}">[详细]</a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist8" item="val" key="key">
                                          <if condition="$val['class'] eq '医院视频'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                    <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                                </a>
                                                
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher" style="">
                                    <h5>我拍拍<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=我拍拍" target="_blank">更多</a></li></h5>
                                    <div class="focus-single g-clear">
                                          <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist9[0]['ins_id']}" monitor="home_health_refer,doctordirect,doctor_text">
                                            {$imgurl66}
                                         </a>
                                        <div class="text">
                                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist9[0]['ins_id']}" class="title">{$substrlist66}</a>
                                            <span class="summary">
                                    {$substr66}
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$reslist9[0]['ins_id']}">[详细]</a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist9" item="val" key="key">
                                          <if condition="$val['class'] eq '我拍拍'">
                                          <if condition="$val['unit_price'] eq '1'">
                                            <if condition="$key gt 0">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '1'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '2'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                      </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>