 

   <div class="g-container landing-section consult-section " data-lazy-url="">
        
    
<div class="title-bar">
    <h2>在线问诊
    </h2>
    <span class="slogan">
        足不出户看医生（微医平台的问诊费由医生自行设定，平台不收取任何额外费用）
    </span>
</div>

<div class="main-ctn g-clear">
    <div class="g-grid-left">
        <div class="consult-bar">
            <div class="consult-fm">
                <form class="J_FreeConsult" action="/before/consult/ask" method="get" target="_blank">
                    <input class="consult-input" name="consultContent" type="text" maxlength="50" placeholder="">
                    <span class="consult-txt" style="">
                        <img src="https://static.guahao.cn/front/portal-pc-static/img/ask-tip.gif">
                    </span>
                    <button class="consult-btn" type="button">我要免费提问</button>
                </form>
            </div>
        </div>


        <div class="consult-list J_ConsultList" data-tab-url="/homepage/hpconsult/expertList/">
            <div class="tabs">
                <ul class="g-clear J_Nav">
                    <li data-id="7f67f180-cff3-11e1-831f-5cf9dd2e7135" id="name1" class="on" style="width: 76px;"><a href="/expert/7f67f180-cff3-11e1-831f-5cf9dd2e7135/内科">内科</a><span></span></li>
                    <li data-id="7f6802e2-cff3-11e1-831f-5cf9dd2e7135" id="name2" style="width: 62px;"><a href="/expert/7f6802e2-cff3-11e1-831f-5cf9dd2e7135/外科">外科</a><span></span></li>
                    <li data-id="7f640bba-cff3-11e1-831f-5cf9dd2e7135" id="name3" style="width: 62px;"><a href="/expert/7f640bba-cff3-11e1-831f-5cf9dd2e7135/妇科">妇科</a><span></span></li>
                    <li data-id="7f67b77e-cff3-11e1-831f-5cf9dd2e7135" id="name4" style="width: 62px;"><a href="/expert/7f67b77e-cff3-11e1-831f-5cf9dd2e7135/儿科">儿科</a><span></span></li>
                    <li data-id="7f68c1d2-cff3-11e1-831f-5cf9dd2e7135" id="name5" style="width: 76px;"><a href="/expert/7f68c1d2-cff3-11e1-831f-5cf9dd2e7135/中医科">中医科</a><span></span></li>
                    <li data-id="7f688f14-cff3-11e1-831f-5cf9dd2e7135" id="name6" style="width: 76px;" class=""><a href="/expert/&#9;7f688f14-cff3-11e1-831f-5cf9dd2e7135/皮肤科">皮肤科</a><span></span></li>
                    <li data-id="7f67dd62-cff3-11e1-831f-5cf9dd2e7135" id="name7" style="width: 68px;"><a href="/expert/7f67dd62-cff3-11e1-831f-5cf9dd2e7135/五官科">五官科</a><span></span></li>
                    <li data-id="7f6866c4-cff3-11e1-831f-5cf9dd2e7135" id="name8" style="width: 62px;"><a href="/expert/7f6866c4-cff3-11e1-831f-5cf9dd2e7135/骨科">骨科</a><span></span></li>
                    <li data-id="7f69043a-cff3-11e1-831f-5cf9dd2e7135" id="name9" style="width: 76px;"><a href="/expert/7f69043a-cff3-11e1-831f-5cf9dd2e7135/疼痛科">疼痛科</a><span></span></li>
                     <li data-id="7f69043a-cff3-11e1-831f-5cf9dd2e7135" id="name10" style="width: 90px;"><a href="/expert/7f69043a-cff3-11e1-831f-5cf9dd2e7135/肿瘤科">肿瘤科</a><span></span></li>
                    <li data-id="7f69043a-cff3-11e1-831f-5cf9dd2e7135" id="name11" style="width: 90px;"><a href="/expert/7f69043a-cff3-11e1-831f-5cf9dd2e7135/耳鼻咽喉科">耳鼻咽喉科</a><span></span></li>
                </ul>
            </div>
<div class="content-container J_ContentContainer">
<div class="dept-consult J_Item">
    <div class="doctor-show">
        <div class="more"><i></i><a class="J_MoreDoctor" target="_blank" href="/expert/7f67f180-cff3-11e1-831f-5cf9dd2e7135/妇产科" monitor="home_ask,doctor_select,doctor_more">更多</a></div>
          <div class="bx-wrapper" style="max-width: 865px;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 315px;"><ul class="g-doctor-card g-clear J_DoctorList" style="width: 1720%; position: relative; left: -1776px;"><li id="list1" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/8bT15332698_image140.jpg?timestamp=1529565739746" alt="张艳珍" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="张艳珍">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">张艳珍</a><i>主任医师</i></p>
              <p>产科门诊</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="杭州市第一人民医院">杭州市第一人民医院</span>
                <span class="more-dot"></span>
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.8</em></span>
              <span>问诊量 <i>298</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  擅长优生优育、孕产妇保健、产前筛查、产前诊断、产...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/ED26165FB5D45154E040A8C00F0124FE000#consult" monitor="home,doctor,picask" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/ED26165FB5D45154E040A8C00F0124FE000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥200</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/ED26165FB5D45154E040A8C00F0124FE000" monitor="home,ask,doctor" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">张艳珍</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/2134" monitor="home,ask,team" monitor-team-id="2134"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li><li id="list2" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/zt42695674_image140.jpg" alt="李娜" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="李娜">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">李娜</a><i>副主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="新疆生产建设兵团医院">新疆生产建设兵团医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.8</em></span>
              <span>问诊量 <i>233</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  产科领域擅长孕期保健、高危妊娠包括妊娠合并内外科...
            </p>

              <div class="doctor-service">
                  <a class="infos image disabled" href="javascript:;">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em>未开通</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/97a0a0b8-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" monitor="home,ask,doctor" monitor-doctor-id="97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" target="_blank">李娜</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/6920" monitor="home,ask,team" monitor-team-id="6920"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li><li id="list3" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/IlP28130429_image140.jpg?timestamp=1514178692745" alt="孙惠兰" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="孙惠兰">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">孙惠兰</a><i>主任医师</i></p>
              <p>妇科名医</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="浙江大学医学院附属妇产科医院">浙江大学医学院附属妇产科医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>427</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  妇科炎症、不孕不育、优生优育、计划生育、妇科肿瘤...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000#consult" monitor="home,doctor,picask" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥65</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" monitor="home,ask,doctor" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">孙惠兰</a>
            </div>
          </li><li id="list4" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/VQV32381178_image140.jpg?timestamp=1518164864920" alt="韦浪花" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="韦浪花">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">韦浪花</a><i>副主任医师</i></p>
              <p>计划生育科资深专家</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="浙江大学医学院附属妇产科医院">浙江大学医学院附属妇产科医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>91</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  计划生育疾病的诊断与治疗
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000#consult" monitor="home,doctor,picask" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥80</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000" monitor="home,ask,doctor" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">韦浪花</a>
            </div>
          </li>
            <li id="list5" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/MiQ2828568_image140.jpg?timestamp=1469714574274" alt="刁斌" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="刁斌">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">刁斌</a><i>主任医师</i></p>
              <p>妇科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="北部战区总医院">北部战区总医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>266</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  女性盆底疾病、妇科肿瘤、妇科内分泌及病理产科的诊...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000#consult" monitor="home,doctor,picask" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥120</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥150</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000" monitor="home,ask,doctor" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">刁斌</a>
            </div>
          </li>
            <li id="list6" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/EeV2692835_image140.jpg" alt="邹雁" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="邹雁">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">邹雁</a><i>主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="新疆生产建设兵团医院">新疆生产建设兵团医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>931</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  从事妇产科工作20余年 不仅具有良好的诊疗思维方...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="home,doctor,picask" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥120</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000" monitor="home,ask,doctor" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">邹雁</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/7371" monitor="home,ask,team" monitor-team-id="7371"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li>
            <li id="list7" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/Bde2680340_image140.jpg" alt="韩凤英" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="韩凤英">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">韩凤英</a><i>副主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="中国人民解放军第474医院">中国人民解放军第474医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.7</em></span>
              <span>问诊量 <i>600</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  计划生育手术及相关指导、宫颈疾病的早期筛查及手术...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000#consult" monitor="home,doctor,picask" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" monitor="home,ask,doctor" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">韩凤英</a>
            </div>
          </li>
            <li id="list8" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/NXY2618213_image140.jpg" alt="陈红" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="陈红">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">陈红</a><i>主任医师</i></p>
              <p>妇科门诊</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="武汉大学中南医院">武汉大学中南医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.6</em></span>
              <span>问诊量 <i>25</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  1.宫腔镜、腹腔镜和诺舒微创技术诊治妇科疾病，如...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000#consult" monitor="home,doctor,picask" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000" monitor="home,ask,doctor" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">陈红</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/4629" monitor="home,ask,team" monitor-team-id="4629"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li>
            <li id="list9" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/8bT15332698_image140.jpg?timestamp=1529565739746" alt="张艳珍" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="张艳珍">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">张艳珍</a><i>主任医师</i></p>
              <p>产科门诊</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="杭州市第一人民医院">杭州市第一人民医院</span>
                <span class="more-dot"></span>
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.8</em></span>
              <span>问诊量 <i>298</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  擅长优生优育、孕产妇保健、产前筛查、产前诊断、产...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/ED26165FB5D45154E040A8C00F0124FE000#consult" monitor="home,doctor,picask" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/ED26165FB5D45154E040A8C00F0124FE000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥200</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/ED26165FB5D45154E040A8C00F0124FE000" monitor="home,ask,doctor" monitor-doctor-id="ED26165FB5D45154E040A8C00F0124FE000" target="_blank">张艳珍</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/2134" monitor="home,ask,team" monitor-team-id="2134"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li>
            <li id="list10" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/zt42695674_image140.jpg" alt="李娜" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="李娜">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">李娜</a><i>副主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="新疆生产建设兵团医院">新疆生产建设兵团医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.8</em></span>
              <span>问诊量 <i>233</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  产科领域擅长孕期保健、高危妊娠包括妊娠合并内外科...
            </p>

              <div class="doctor-service">
                  <a class="infos image disabled" href="javascript:;">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em>未开通</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/97a0a0b8-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" monitor="home,ask,doctor" monitor-doctor-id="97a0a0b8-c720-11e1-913c-5cf9dd2e7135000" target="_blank">李娜</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/6920" monitor="home,ask,team" monitor-team-id="6920"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li>
            <li id="list11" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/IlP28130429_image140.jpg?timestamp=1514178692745" alt="孙惠兰" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="孙惠兰">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">孙惠兰</a><i>主任医师</i></p>
              <p>妇科名医</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="浙江大学医学院附属妇产科医院">浙江大学医学院附属妇产科医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>427</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  妇科炎症、不孕不育、优生优育、计划生育、妇科肿瘤...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000#consult" monitor="home,doctor,picask" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥65</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" monitor="home,ask,doctor" monitor-doctor-id="c6d7ab00-2e89-4234-a05f-32ba9a8945b2000" target="_blank">孙惠兰</a>
            </div>
          </li>
            <li id="list12" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/VQV32381178_image140.jpg?timestamp=1518164864920" alt="韦浪花" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="韦浪花">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">韦浪花</a><i>副主任医师</i></p>
              <p>计划生育科资深专家</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="浙江大学医学院附属妇产科医院">浙江大学医学院附属妇产科医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>91</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  计划生育疾病的诊断与治疗
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000#consult" monitor="home,doctor,picask" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥80</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/c96ad697-c8c9-44bd-a83b-191141de1c8b000" monitor="home,ask,doctor" monitor-doctor-id="c96ad697-c8c9-44bd-a83b-191141de1c8b000" target="_blank">韦浪花</a>
            </div>
          </li>
    <li id="list13" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/MiQ2828568_image140.jpg?timestamp=1469714574274" alt="刁斌" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="刁斌">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">刁斌</a><i>主任医师</i></p>
              <p>妇科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="北部战区总医院">北部战区总医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>266</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  女性盆底疾病、妇科肿瘤、妇科内分泌及病理产科的诊...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000#consult" monitor="home,doctor,picask" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥120</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥150</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000" monitor="home,ask,doctor" monitor-doctor-id="45558090-a2e5-44a2-b573-6911626c5901000" target="_blank">刁斌</a>
            </div>
          </li><li id="list14" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/EeV2692835_image140.jpg" alt="邹雁" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="邹雁">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">邹雁</a><i>主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="新疆生产建设兵团医院">新疆生产建设兵团医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.9</em></span>
              <span>问诊量 <i>931</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  从事妇产科工作20余年 不仅具有良好的诊疗思维方...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="home,doctor,picask" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥120</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/960287b4-c720-11e1-913c-5cf9dd2e7135000" monitor="home,ask,doctor" monitor-doctor-id="960287b4-c720-11e1-913c-5cf9dd2e7135000" target="_blank">邹雁</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/7371" monitor="home,ask,team" monitor-team-id="7371"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li><li id="list15" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/Bde2680340_image140.jpg" alt="韩凤英" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="韩凤英">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">韩凤英</a><i>副主任医师</i></p>
              <p>妇产科</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="中国人民解放军第474医院">中国人民解放军第474医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.7</em></span>
              <span>问诊量 <i>600</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  计划生育手术及相关指导、宫颈疾病的早期筛查及手术...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000#consult" monitor="home,doctor,picask" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                  <a class="infos video" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em>暂无排班</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" monitor="home,ask,doctor" monitor-doctor-id="3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" target="_blank">韩凤英</a>
            </div>
          </li><li id="list16" style="float: left; list-style: none; position: relative; width: 199px; margin-right: 23px;" class="bx-clone">
              <div class="card-inner">
              <a class="doctor-avatar" href="javascript:;">
                   <img src="https://kano.guahao.cn/NXY2618213_image140.jpg" alt="陈红" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" title="陈红">
                        <i class="opened"></i>
              </a>
              
                <p class="doctor-name"><a href="javascript:;">陈红</a><i>主任医师</i></p>
              <p>妇科门诊</p>
              <p class="doctor-hospital">
                <span class="g-txt-ell" title="武汉大学中南医院">武汉大学中南医院</span>
                
              </p>
            <p class="doctor-consult">
              <span class="star">评分 <em>9.6</em></span>
              <span>问诊量 <i>25</i></span>
            </p>
            
            <p class="doctor-good">擅长：
                  1.宫腔镜、腹腔镜和诺舒微创技术诊治妇科疾病，如...
            </p>

              <div class="doctor-service">
                  <a class="infos image" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000#consult" monitor="home,doctor,picask" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>图文问诊</em>
                      <em class="price">￥60</em>
                    </span>
                  </a>
                   <a class="infos video" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000#consult" monitor="ask,doctor,vpask" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">
                    <i></i>
                    <span class="service-name">
                      <em>视话问诊</em>
                      <em class="price">￥100</em>
                    </span>
                  </a>
              </div>
              <a class="cover-bg seo-anchor-text" href="/expert/3bee3608-f8d3-4cac-9939-14041c5e8a6c000" monitor="home,ask,doctor" monitor-doctor-id="3bee3608-f8d3-4cac-9939-14041c5e8a6c000" target="_blank">陈红</a>
            </div>
                <a class="expert-team" target="_blank" href="/eteam/4629" monitor="home,ask,team" monitor-team-id="4629"><span class="txt">专家团队</span><i class="arrow"></i></a>
          </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div></div></div>
</div>

<div class="consult-show">
<ul class="J_ConsultShow">
        <li>
            <div class="ask g-clear">
              <i class="pre-icon">问</i>
              <a target="_blank" href="/consult/detail/12438233" style="color: #333;text-decoration:none;"><span class="content" title="月经走后10天又出血了，不知道是第二次来月经还是异常出血。已经做过彩超">月经走后10天又出血了，不知道是第二次来月经还是异常出血。已经做过彩超</span></a>
              <span class="date">时间：2017-06-26</span>
            </div>
            <div class="answer g-clear" style="display: block;">
              <i class="pre-icon">答</i>
              <div class="inner g-clear">
                <i class="arrow"></i>
                <a target="_blank" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" monitor="">
                    <img class="portrait" src="https://kano.guahao.cn/Bde2680340_image140.jpg" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" alt="韩凤英" height="35" width="35">
                </a>
                <p>
                  <span class="doc-info"><a target="_blank" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000">韩凤英</a>&nbsp;副主任医师&nbsp;&nbsp;中国人民解放军第474医院-妇产科</span>
                  <span class="doc-answer">从B超和你的未次月经时间看，不排除这次出血是排卵期出血，你不用紧张，口服抗炎、止血药物5天，观察观察。&nbsp;&nbsp;<a target="_blank" href="/consult/detail/12438233" monitor="home,ask,rate">详细</a></span>
                </p>
              </div>
            </div>
        </li>
        <li>
            <div class="ask g-clear">
              <i class="pre-icon">问</i>
              <a target="_blank" href="/consult/detail/12634918" style="color: #333;text-decoration:none;"><span class="content" title="医生，我最后一次经期是2017年5月15号！6月17号早上查出怀孕，中午开始感冒发烧有点咳嗽！发烧一直持续到18号下午才退烧！温度一直都在38.2度左右！最高就是39.4！几个小时！医生没让吃药！让物理降温！听说前三个月感冒发烧会导致胎儿畸形！所以我这胎还能要吗！">医生，我最后一次经期是2017年5月15号！6月17号早上查出怀孕，中午开始感冒发烧有点咳嗽！发烧一直持续到18号下午才退烧！温度一直都在38.2度左右！最高就是39.4！几个小时！医生没让吃药！让物理降温！听说前三个月感冒发烧会导致胎儿畸形！所以我这胎还能要吗！</span></a>
              <span class="date">时间：2017-06-26</span>
            </div>
            <div class="answer g-clear">
              <i class="pre-icon">答</i>
              <div class="inner g-clear">
                <i class="arrow"></i>
                <a target="_blank" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000" monitor="">
                    <img class="portrait" src="https://kano.guahao.cn/Bde2680340_image140.jpg" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" alt="韩凤英" height="35" width="35">
                </a>
                <p>
                  <span class="doc-info"><a target="_blank" href="/expert/3993d23f-7c7a-4f8b-ac29-3651aa6d7a5b000">韩凤英</a>&nbsp;副主任医师&nbsp;&nbsp;中国人民解放军第474医院-妇产科</span>
                  <span class="doc-answer">从你的未次月经算，你才孕36天，因时间太短，建议一周后复查B超，以明确宫内孕。孕早期感冒发烧多少对胚胎是有影响...&nbsp;&nbsp;<a target="_blank" href="/consult/detail/12634918" monitor="home,ask,rate">详细</a></span>
                </p>
              </div>
            </div>
        </li>
        <li>
            <div class="ask g-clear">
              <i class="pre-icon">问</i>
              <a target="_blank" href="/consult/detail/10782672" style="color: #333;text-decoration:none;"><span class="content" title="外阴长疙瘩，会疼，白带异常">外阴长疙瘩，会疼，白带异常</span></a>
              <span class="date">时间：2017-05-06</span>
            </div>
            <div class="answer g-clear">
              <i class="pre-icon">答</i>
              <div class="inner g-clear">
                <i class="arrow"></i>
                <a target="_blank" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000" monitor="">
                    <img class="portrait" src="https://kano.guahao.cn/MiQ2828568_image140.jpg?timestamp=1469714574274" onerror="this.src='https://static.guahao.cn/img/character/doc-f-l.png?_=20121223';" alt="刁斌" height="35" width="35">
                </a>
                <p>
                  <span class="doc-info"><a target="_blank" href="/expert/45558090-a2e5-44a2-b573-6911626c5901000">刁斌</a>&nbsp;主任医师&nbsp;&nbsp;北部战区总医院-妇科</span>
                  <span class="doc-answer">外阴小疙瘩 痒 可能霉菌性阴道炎 没有性生活就口服氟康唑150 毫克 72 小时一次 2次就可以&nbsp;&nbsp;<a target="_blank" href="/consult/detail/10782672" monitor="home,ask,rate">详细</a></span>
                </p>
              </div>
            </div>
        </li>
      </ul>  
    </div>
</div>
 </div>




        </div>
    </div>
    <div class="g-grid-right"> 
        <div class="freeconsultation">
            <a href="/internet/hospital" class="url-wrap" monitor="home,ask_more,find_spask" target="_blank"><img src="__PUBLIC_HOME__/images/1111.png" alt=""></a>
            <a href="/internet/hospital" class="gbn gbt-orange" monitor="home,ask_more,find_spask" target="_blank">找专家问诊</a>
           
               <img src="__PUBLIC_HOME__/images/290.png" alt="">
           
        </div>
        <a target="_blank" href="" class="volunteer seo-anchor-text" onmousedown="return _smartlog(this,'JRYZ')" monitor="home_activity,todayask,todayask">
            今日义诊
        </a>    
    </div>
    </div>
    </div> 
<script>
$(document).ready(function(){

     $("#name1").hover(function(){
      $("#name2").removeClass('on');
      $("#name1").addClass('on');
      $("#name3").removeClass('on');
      $("#name4").removeClass('on');
      $("#name5").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      // $("#list2").css('display','none');
      // $("#list3").css('display','none');
      // $("#list4").css('display','none');
      // $("#list5").css('display','none');
      $("#list9").css("display","block");
      $("#list10").css("display","block");
      $("#list11").css("display","block");
      $("#list12").css("display","block");
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
    $("#name2").hover(function(){
      $("#name1").removeClass('on');
      $("#name2").addClass('on');
      $("#name3").removeClass('on');
      $("#name4").removeClass('on');
      $("#name5").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list9").css('display','none');
      $("#list10").css('display','none');
      $("#list11").css('display','none');
      $("#list12").css('display','none');
      $("#list13").css('display','block');
      $("#list14").css('display','block');
      $("#list15").css('display','block');
      $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });

     $("#name3").hover(function(){
      $("#name1").removeClass('on');
      $("#name3").addClass('on');
      $("#name2").removeClass('on');
      $("#name4").removeClass('on');
      $("#name5").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');

      $("#list13").css('display','none');
      $("#list14").css('display','none');
      $("#list15").css('display','none');
      $("#list16").css('display','none');

     $("#list9").css("display","block");
      $("#list10").css("display","block");
      $("#list11").css("display","block");
      $("#list12").css("display","block");
      // $("#list6").css('display','none');
      // $("#list7").css('display','none');
      // $("#list8").css('display','none');
      // $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });

      $("#name4").hover(function(){
      $("#name1").removeClass('on');
      $("#name4").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
      $("#name5").hover(function(){
      $("#name1").removeClass('on');
      $("#name5").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
      $("#name6").hover(function(){
      $("#name1").removeClass('on');
      $("#name6").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
      $("#name7").hover(function(){
      $("#name1").removeClass('on');
      $("#name7").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name8").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
      $("#name8").hover(function(){
      $("#name1").removeClass('on');
      $("#name8").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
    $("#name9").hover(function(){
      $("#name1").removeClass('on');
      $("#name9").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name8").removeClass('on');
      $("#name10").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
    $("#name10").hover(function(){
      $("#name1").removeClass('on');
      $("#name10").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name9").removeClass('on');
      $("#name8").removeClass('on');
      $("#name11").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
    $("#name11").hover(function(){
      $("#name1").removeClass('on');
      $("#name11").addClass('on');
      $("#name2").removeClass('on');
      $("#name3").removeClass('on');
      $("#name5").removeClass('on');
      $("#name4").removeClass('on');
      $("#name6").removeClass('on');
      $("#name7").removeClass('on');
      $("#name9").removeClass('on');
      $("#name10").removeClass('on');
      $("#name8").removeClass('on');
      $("#list6").css('display','none');
      $("#list7").css('display','none');
      $("#list8").css('display','none');
      $("#list9").css('display','none');
      // $("#list13").css('display','block');
      // $("#list14").css('display','block');
      // $("#list15").css('display','block');
      // $("#list16").css('display','block');
      // $("#list1").css('display','block');
      // $("#list1").removeClass('bx-clone');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
      // $("#name1").removeClass('on');
      // $("#name2").removeClass('on');
    });
});
</script>

