  <div class="g-container landing-section news-section">
                    <div class="title-bar">
                         <h2>医院信息</h2>
                        <span class="slogan">
            <!-- 关注健康，享受生活！ -->
                <a href="#" style="display:none">寻找医言堂“好医生” 找的就是您！
                </a>
            </span>
                    </div>
                    <div class="main-ctn g-clear">
                        <div class="g-grid-left">
                            <div class="news-main g-clear">
                                <div class="news-item medical-strategy J_medicalStrategy">
                                    <h5>就医攻略</h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1536026134780.jpg" alt="又双叒叕流产！怎么才能保住宝宝？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">又双叒叕流产！怎么才能保住宝宝？</a>
                                            <span class="summary">
                                    对于一个期待成为母亲的女性而言，不孕是很痛苦的，但比之更痛苦的，是怀孕后却保不住自己的宝宝第一胎，雀跃着欢喜着，宝宝没保...
                                        <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            
                                          <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '就医攻略'">
                                          <if condition="$val['unit_price'] eq '是'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '新'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '热'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>

                                <div class="news-item rumor-crusher J_rumorCrusher">
                                    <h5>谣言粉碎机</h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/1535596388286.jpg" alt="每天走一万步，真的健康吗？">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">每天走一万步，真的健康吗？</a>
                                            <span class="summary">
                                    每个人心中都有一个更美好的自己：健康、苗条、充满活力而运动，可以帮助你实现这样的自己自从“每天一万步”这个活动出现后，大...
                                    <a target="_blank" href="#">[详细]
                                    </a>
                                </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                            <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '谣言粉碎机'">
                                          <if condition="$val['unit_price'] eq '是'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '新'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '热'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="news-item health-preserve J_healthPreserve">
                                    <h5>中医养生</h5>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#">
                                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                        </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '中医养生'">
                                          <if condition="$val['unit_price'] eq '是'">
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '新'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '热'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>
                                <div class="news-item health-hot J_healthHot">
                                    <a href="#" target="_blank" class="jhztc-title" monitor="spteam_activity,spteam_head,spteam_topslider" onmousedown="return _smartlog(this,'MYZTC')">
                                        <h5>名医直通车
                                        </h5>
                                    </a>
                                    <div class="focus-single g-clear">
                                        <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                                        </a>
                                        <div class="text">
                                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                                            <span class="summary">
                                关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                                <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                                        </div>
                                    </div>
                                    <div class="focus-list">
                                        <ul>
                                             <foreach name="reslist" item="val">
                                          <if condition="$val['class'] eq '名医直通车'">
                                           <if condition="$val['unit_price'] eq '是'">
                                          
                                            <li>
                                                <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                                                    <i class="dot"></i>
                                                    <div class="focus-forhot">{$val['inspection_name']}</div>
                                                    <if condition="$val['cost'] eq '新'">
                                                    <img src="__PUBLIC_HOME__/images/new.png" alt="">

                                                    </if>
                                                    <if condition="$val['cost'] eq '热'">
                                                    <img src="__PUBLIC_HOME__/images/hot.gif" alt="">
                                                    
                                                    </if>
                                                </a>
                                                <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                                            </li>
                                            </if>
                                          </if>
                                          </foreach>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>