<ul class="g-clear main-menu-nav">
<li class="hot">
    <a class="own-tab" target="_blank" href="{:U('home/index/hospital')}" monitor="public_menu,home_menu,ask">在线问诊</a>
</li>
<li><a target="_blank" href="{:U('home/index/fastorder')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,home_menu,fastpoder">医生论坛</a></li>
<li><a target="_blank" target="_blank" href="{:U('home/index/ask')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,home_menu,preciseorder">免费咨询</a></li>
<li class="authority"><a class="own-tab" target="_blank" target="_blank" href="https://baike.h.gov.cn/" rel="nofollow">医药直通车</a></li>
<li data-subnav="sub-nav-welife"><a target="_blank" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">
医疗器械</a>
</li>


<li><a target="_blank" href="#" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">健康E务室</a></li>
  <li><a target="_blank" href="__PUBLIC_MUSIC__" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">优选音乐</a></li>

   <li><a target="_blank" href="{:U('home/index/video')}" rel="nofollow" onmousedown="return _smartlog(this,'MNU')">微视频</a></li>


</ul>