
                            <div class="news-item health-preserve J_healthPreserve">
                            <h5>中医养生<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist2" item="val">
                            <if condition="$val['class'] eq '中医养生'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>


                            <div class="news-item health-hot J_healthHot">

                            <h5>名医直通车<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                            <span class="summary">
                            关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist3" item="val">
                            <if condition="$val['class'] eq '名医直通车'">
                            <if condition="$val['unit_price'] eq '1'">

                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>     
                           <div class="news-item health-preserve J_healthPreserve">
                            <h5>中医养生<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist2" item="val">
                            <if condition="$val['class'] eq '中医养生'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>


                            <div class="news-item health-hot J_healthHot">

                            <h5>名医直通车<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                            <span class="summary">
                            关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist3" item="val">
                            <if condition="$val['class'] eq '名医直通车'">
                            <if condition="$val['unit_price'] eq '1'">

                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>     
<div class="news-item health-preserve J_healthPreserve">
                            <h5>中医养生<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>
                            <div class="focus-single g-clear">
                            <a target="_blank" href="#">
                            <img src="__PUBLIC_HOME__/images/bottom-default.png">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title">中医望诊，一眼就看出有什么病</a>
                            <span class="summary">
                            脸色反应气血的兴衰　　面部的色泽是气血通过经络上注于面而表现出来的，气血的盛衰及运行情况，必定会从面色上反映出来　　脸色...
                            <a target="_blank" href="#">[详细]
                            </a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist2" item="val">
                            <if condition="$val['class'] eq '中医养生'">
                            <if condition="$val['unit_price'] eq '1'">
                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>


                            <div class="news-item health-hot J_healthHot">

                            <h5>名医直通车<li style="float:right;list-style:none"><a href="{:U('home/index/topiclist')}?class=中医养生" target="_blank">更多</a></li></h5>

                            <div class="focus-single g-clear">
                            <a target="_blank" href="#" monitor="home_health_refer,doctordirect,doctor_text">
                            <img src="__PUBLIC_HOME__/images/rLn44885969.png" alt="脂肪肝不能吃肉？教你靠谱的护肝指南" onmousedown="return _smartlog(this,'INF')">
                            </a>
                            <div class="text">
                            <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">脂肪肝不能吃肉？教你靠谱的护肝指南</a>
                            <span class="summary">
                            关于脂肪肝的传闻，你听过几个？  胖的人才会得脂肪肝！ 脂肪肝就是油脂吃太多了，所以得了脂肪肝就不能
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'INF')" monitor="home_health_refer,doctordirect,doctor_text">[详细]</a>
                            </span>
                            </div>
                            </div>
                            <div class="focus-list">
                            <ul>
                            <foreach name="reslist3" item="val">
                            <if condition="$val['class'] eq '名医直通车'">
                            <if condition="$val['unit_price'] eq '1'">

                            <li>
                            <a target="_blank" href="{:U('home/index/topic')}?ins_id={$val['ins_id']}" class="title" title="{$val['inspection_name']}">
                            <i class="dot"></i>
                            <div class="focus-forhot">{$val['inspection_name']}</div>
                            <if condition="$val['cost'] eq '1'">
                            <img src="__PUBLIC_HOME__/images/new.png" alt="">

                            </if>
                            <if condition="$val['cost'] eq '2'">
                            <img src="__PUBLIC_HOME__/images/hot.gif" alt="">

                            </if>
                            </a>
                            <span class="date">{$val['create_time']|date='Y-m-d',###}</span>
                            </li>
                            </if>
                            </if>
                            </foreach>
                            </ul>
                            </div>
                            </div>     
     
