<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <title>网上医院医生论坛-择医网(挂号网)</title>
    <meta name="keywords" content="医生论坛,网上挂号,医院挂号,问诊咨询,医院,挂号官网,挂号平台,网上医生论坛" />
    <meta name="description" content="网上医生论坛，在线挂号，择医网集团(原挂号网),互联网医院国家试点平台,为您提供查询全国医院门诊时间、预约专家号、在线咨询医生，全国三甲医院的精准查询和重点医院医生论坛服务，让您在线预约医院更快捷，看病问诊更方便。" />
    <link rel="canonical" href="https://www.guahao.com/expert/fastorder" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://wy.guahao.com/fastorder/hospital">
    <meta name="mobile-agent" content="format=html5; url=https://wy.guahao.com/fastorder/hospital">
    <meta http-equiv="Cache-Control" content="no-transform" />

    <meta property="wb:webmaster" content="3b0138a4c935e0f6" />
    <meta property="qc:admins" content="341606771467510176375" />
    <link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.base.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/toplist.css?v=1535436384237752" type="text/css" />

     <link rel="stylesheet" href="__PUBLIC_HOME__/css/list/portal.basic.min.css?v=1535436384237752" type="text/css" />

    <link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.hdd.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.content.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/style.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/animate.min.css?v=20141222" type="text/css" />
    <script type="text/javascript" src="__PUBLIC_HOME__/js/jquery.js"></script>
  

 

    <link rel="stylesheet" href="__PUBLIC_HOME__/css/list/fastorder.css?v=1537871245ee1e9f" type="text/css" />

</head>

<body class="g-1200px g-page-1200">





    <div id="g-wrapper" class="g-wrapper ">
        <div id="gh">
            <!--[if lt IE 8]>
<div class="g-browser-update">你的浏览器实在太旧了，为了更加安全和方便地进行挂号，推荐您升级浏览器：<a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
            <div class="gh-nav">
                <div class="container g-clear">
                    <div class="g-left">
                        <span class="text">您好
		                  15768472001</span>
                        <a href="member.html" rel="nofollow">个人中心</a>

                        <span class="line">|</span>
                        <a href="#" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,order">预约单</a>
                        <span class="line">|</span>
                        <a href="" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,myfollow">我的关注</a>
                        <span class="line">|</span>
                        <a href="" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,logout">退出</a>


                    </div>


                    <div class="g-right">
                        <a href="/" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" class="go-home" monitor="public_head,publick_head,wy_home"><i></i>择医网首页</a>
                        <span class="line">|</span>


                        <a href="fastcancel.html" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,ordercancel">快速取消订单</a>
                        <span class="line">|</span>
                        <a href="help.html">客服中心</a>
                    </div>
                </div>
            </div>
            <div class="gh-main">
                <div class="container g-clear">
                    <div class="gh-logo ">
                         <a href="{:U('home/index/index')}">
                        <img class="logolist "  style="background-size: cover;width: 190px;height: 89px;display: inline-block;" src="__PUBLIC_HOME__/images/logolist.jpg" alt="择医网" class="wy-logo"></a>
                       
                    </div>




                    <span class="gh-search-tips"></span>
                </div>
            </div>
            <div class="gh-home-menu J_NewMenu">
  <div class="container g-clear  ">
                    <div class="home-menu-ctn menuDiv">
            <include file="Public:headtop"/>
        </div>
</div></div>
        <div id="gc">


            <div class="gp-fastorder" id="g-cfg">
                <div id="g-breadcrumb">
                    <a href="#">首页</a>&gt;
                    <span>{$res.0.class}</span>
                </div>
                <div class="g-container">
                    <div class="fastorder-wrap">
                        
                       

          <foreach name="res" item="vo" key="key">
            <if condition="$vo.unit_price eq 1">
                <div style="margin-top: 8px;"></div>
                <ul>
                    <li style="list-style-type:none;font-size:15px">
                    <i class="pre-icon">&nbsp;&nbsp;&nbsp;</i>  
                    <i>{$key+1}.</i>  
                    <!-- <span>12-14</span> -->
                    <a  href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" title="{$vo.inspection_name}" target="_blank">{$vo.inspection_name}</a>
                      <span class="date" style="float: right;">{$vo.create_time|date='Y-m-d',###}&nbsp;&nbsp;</span>
                </li>
            </ul>
       
                  
        <div style="margin-top: 8px;"></div>
    </if>
    </foreach>
    <div style="float:right;"> 
        <tr class="content" style="">
                <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
                        {$page}
                </div></td>  
            </tr>
        </div>

                    </div>
                </div>
            </div>

        </div>

       <include file="Public:bottom"/>
        <div id="gm-bg"></div>
        <div id="gm-mask">
        </div>
      <script>
      $(document).ready(function(){
      
        $("#province").change(function(){
              var province = $("#province").val();
              $("#sel_text").val(province);
              $.post('/home/index/province.php',{province:province},function(data){
                var arr = data.split(',');
                var html="";
                for(i=0;i<arr.length-1;i++){
                      
                    html+="<option value=''>"+arr[i]+"</option>";
                }
                // console.info(html);
                $("#cities").html(html);
              })
           
        });
      });
      </script>
      
</body>

</html>