
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
<!-- External CSS -->
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/eops.base.min.css?v=1541078824a18cef" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/eops.content.min.css?v=1541078824a18cef" type="text/css"/>
    <script src="__PUBLIC_HIS__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/layer/layer.js"></script>

	
				<link rel="stylesheet" href="https://img.guahao.com/front/hps-pc-static/css/questions.css?v=1541078824a18cef" type="text/css"/>
		
		    <title>发布文章 | 择医网</title>
	</head>
	
	<body>
		<!-- #g-wrapper -->
		<div id="g-wrapper" class="gc-new">
			 <include file="Public:dochead" />
<script type="text/javascript">
    $GF.push(function() {
        //文字跑马灯
        //requestAnimationFrame
        (function() {
            var lastTime = 0;
            var vendors = ['ms', 'moz', 'webkit', 'o'];
            for (var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
                window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
                window.cancelAnimationFrame = window[vendors[x] + 'CancelAnimationFrame'] || window[vendors[x] + 'CancelRequestAnimationFrame'];
            }
            if (!window.requestAnimationFrame){
                window.requestAnimationFrame = function(callback, element) {
                    var currTime = new Date().getTime();
                    console.log(currTime);
                    var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                    var id = window.setTimeout(function() {
                        callback(currTime + timeToCall);
                    }, timeToCall);
                    lastTime = currTime + timeToCall;
                    return id;
                };
            }
            if (!window.cancelAnimationFrame){
                window.cancelAnimationFrame = function(id) {
                    clearTimeout(id);
                };
            }
        }());
        
        $.ajax({
            type: "post",
            url: 'https://api-gateway.guahao.com/common/notice/mainplatformdetail.json',
            //headers : {'weiyi-appid':'d_h5_weiyi'},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("weiyi-appid", "d_web_doctor");
            },
            success: function(res) {
                if(res.flag == 0) {
                    if(res.item) {//查询结果
                        var dataObj = res.item;
                        $('.move-box .J_Content').html(dataObj.content);
                        $('.move-box2 .J_Content').html(dataObj.content);
                        //html方法插入的内容，直接拿宽度拿不到
                        setTimeout(function(){
                            var outWidth = $('#J_NotifyBox').outerWidth();
                            var box1 = $('#J_NotifyBox .move-box'),box2 = $('#J_NotifyBox .move-box2');
                            var inWidth = box1.outerWidth();
                            //顶部通知超过一行，自动滚动播放
                            if(inWidth > outWidth){
                                var left1 = 0;
                                var left2 = inWidth;
                                var difference = outWidth - inWidth;
                                function move(){
                                    box2.show();
                                    var item2Left = box2.css('left');
                                    var item1Left = box1.css('left');
                                    left1 = left1-1;
                                    left2 = left2-1;
                                    box1.css({'left':left1+40+'px'});
                                    box2.css({'left':left2+40+'px'}); 
                                    if(parseInt(item1Left) == difference){
                                        left2 = outWidth;
                                        box2.css({'left':left2+40+'px'}); 
                                    }else if(parseInt(item2Left) == difference){
                                        left1 = outWidth;
                                        box1.css({'left':left1+40+'px'});
                                    }
                                    requestAnimationFrame(move);
                                };
                                move();
                            }
                            box1.css({'visibility': 'visible'});
                            box2.css({'visibility': 'visible'});
                        },0);

                       if (!$('#J_Notify').length) {
                           return;
                       }
                       if(!localStorage.getItem("indexNotice") || localStorage.getItem("indexNotice")!=dataObj.gmtModified){
                           $('#J_Notify').show();
                       }
                       var openFun = function(close) {
                           close();
                           localStorage.setItem("indexNotice",dataObj.gmtModified);
                           $('#J_Notify').hide();
                       };
                       //点击公告
                       $('.J_Content').on('click',function(){
                            //弹窗展示
                           $.confirm({title:"公告",content:"<span style='font-size: 16px;color: #333333;'>"+dataObj.content+"</span>",okText:"知道了",okfun: openFun,cancelfun:openFun,cancelEqualClose:true,className:"new-ok"});
                           localStorage.setItem("indexNotice",dataObj.gmtModified);
                       });
                       //点击关闭按钮
                       $('.J_NoticeClose').click(function(){
                            if(dataObj.gmtModified){
                               localStorage.setItem("indexNotice",dataObj.gmtModified);
                            }
                           $('#J_Notify').hide();
                       })
                    }else{
                        console.log('没有配置公告');
                    }
                }
                else {//没有配置公告
                    console.log('没有配置公告');
                }
            },
            error: function(){
                console.log('公告接口失败');
            }
        });
    });
</script>

            <!-- end of #gh -->
            <div class="g-container">
				
<div class="g-menubar noprint">
	<!-- 医生个人简介 -->
	<div  class="top">
		<div class="head-box">
                        <img src="https://img.guahao.com/portal_upload/userheadpic/pYf27810846_180x180.?timeStamp=1543038789523" alt="李旭峰大夫" class="head-img"/>
		</div>
		<div class="info">
			<div class="basic-info">
				<h1>李旭峰&nbsp;</h1>
				<span></span>
			</div>
			<div class="dept-info">
				         		上海中医药大学附属龙华医院<span class="dept"></span>
				         		<span class="dept">1222室</span>
			</div>
			<a href="#" class="more-info" monitor="doctorweb,menu,personal_data">个人资料</a>
		</div>
	</div>

	<ul class="menu-parent-box">
			<li class="menu-parent "><a href="{:U('home/index/doctorhome')}" monitor="doctorweb,menu,hmpg"><i class="grsy"></i>个人首页</a></li>
					<li class="menu-parent ">
					<a href="javascript:;"
					
					
					class="hasChild J_ParentMenu">
						<i style="background: url(https://kano.guahao.cn/J5t37110059) no-repeat"></i>
						
					     账号设置
						</a>
									<div class="menu-child-box hide">
									   	<a class="menu-child " href="{:U('home/index/authprofile')}" monitor="doctorweb,menu,accountset_myinfo"
										  >
										   
								   		个人资料</a>
									   	<a class="menu-child " href="{:U('home/index/head_pic_settings')}" monitor="doctorweb,menu,accountset_pichead"
										  >
										   
								   		头像设置</a>
									   	<a class="menu-child " href="{:U('home/index/authaccout')}" monitor="doctorweb,menu,accountset_info"
										  >
										   
								   		账号信息</a>
									   	<a class="menu-child " href="{:U('home/index/authtomod')}" monitor="doctorweb,menu,accountset_password"
										  >
										   
								   		修改密码</a>
									</div>
					</li>
					<li class="menu-parent ">
					<a href="javascript:;"
					
					
					class="hasChild J_ParentMenu">
						<i style="background: url(https://kano.guahao.cn/FIU37110407) no-repeat"></i>
						
					     帮助与反馈
						</a>
									<div class="menu-child-box hide">
									   	<a class="menu-child " href="{:U('home/index/authoperation')}" 
										  >
										   
								   		操作手册</a>
									   	<a class="menu-child active" href="#" >
										   
								   		我的文章</a>
									   	<a class="menu-child " href="#" 
										  >
										   
								   		常见问题</a>
									</div>
					</li>
	</ul>
</div>

				<!-- #gc -->
				<!-- #gc -->
<!---->


<div id="gc" class="gp-questions questions-common" data-module="questions-help">
	<div class="gc-mask">
	
		<div class="content-admin g-clear g-content">
			<div id="g-breadcrumb">
				<a href="{:U('home/index/doctorhome')}">首页</a>&gt;
				<a href="#">帮助与反馈</a>&gt;
				<span>我的文章</span>
			</div>
			<div class="g-tab g-content-widget">
                <div class="questions-list">
                	<div class="search-box">
                    	
                    <!-- 	<button type="submit" class="search-button" style="width:160px;border-radius: 2px;">发布文章</button>
                    	<ul class="search-result J_ResultBox"></ul> -->
                    </div>
                    <div class="dashed-line"></div>
                    <span style="font-family: 微软雅黑,宋体; font-size:2em;color:#000000">发布新文章 <a href="" onclick="javascript:history.back()" style="float:right;font-size:15px;">返回></a></span>
                    <div></div>
                   &nbsp;&nbsp;
                     <hr style="height:1px;border:none;border-top:1px solid #888888;" /> 

                     <div style="float: center">
                     <br><br>
                     <span style="font-size:15px;color:#000000;width:10px;">文章分类</span>
                     &nbsp;
                     <input type="text" name="namelist" id="namelist" style="width:200px;height:30px;border-radius: 2px;">
                      &nbsp; &nbsp; &nbsp; &nbsp;
                     <span style="font-size:15px;color:#000000;width:10px;">来源</span>
                      &nbsp; 
                      <input type="radio" name="blues" id="blue" value="1">
                       &nbsp;原创 
                      &nbsp; &nbsp;
                    <input type="radio" name="blues" id="blues" value="2">
                      &nbsp;转载
                     &nbsp; &nbsp; &nbsp; &nbsp;
                     <input type="radio" name="toplist" id="toplist" value="1"> &nbsp;置顶
                     <br/>
                  
                     </div>
                     &nbsp;<br>
                       <span style="font-size:15px;color:#000000;width:10px;">标题</span>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" name="titlelist" id="titlelist"  style="width:200px;height:30px;border-radius: 2px;">
                      &nbsp; &nbsp; &nbsp; &nbsp;
                    
                </div>
                 <div class="input-group listSeaForm wb100 mt10">
                <span class="input-group-btn">
                    <span class="btn" style="font-size:15px;color:#000000;width:10px;">文章内容：</span>
                </span>
                <!-- <textarea name="" id="addUnit" name="addUnit" value="" cols="100" rows="6"></textarea> -->
             
            </div>
            <include file="Public:edit"/>
             <textarea id="wordtype" name="wordtype" style="display: none"></textarea>
            <br>
            <div style="float:center">
          <button  class="search-button btn" style="border-radius: 2px; width: 166px; height: 100%;color: #fff;font-size: 24px;background-color: #589bff;border: none;cursor: pointer;">发布文章</button>
</div>
			</div>


	    </div>
	</div>
	<!-- end of .gc-mask -->
</div>
<!-- end of #gc -->
<span id="gi_page_totop" class="gi gi-page-totop"></span>

				<!-- end of #gc -->
				<div class="clear"></div>
			</div>
			<!-- #gf -->
			<div id="gf" class="gf-new">
	<div class="g-container">
		<p>网友、医生言论仅代表其个人观点，不代表本站同意其说法，本站不承担由此引起的法律责任</p>	
		<p>择医网提供平台支持 Copyright 2011-2018版权所有。&nbsp;&nbsp;</p>
	</div>
</div>
			<!-- end of #gf -->
		</div>	
		<!-- end of #g-wrapper -->
		

	<script type="text/javascript"> 

	 //添加文章保存
        $(document).on('click', '.btn', function() {
            var word = document.getElementById('wordtype').innerHTML=UE.getEditor('editor').getContent();

            var namelist = $('#namelist').val();
            var blues = $("input[name='blues']:checked").val();
            var toplist = $("#toplist").val();
            var titlelist = $("#titlelist").val();

            
           
         
            $.post("{:U('/home/index/addarticle')}",
                {"namelist":namelist,"blues":blues,"toplist":toplist,"titlelist":titlelist,"word":word},
                function (data) {

                    if (data.status=='success') {
                    	alert('文章添加成功！等待管理员审核');
                       window.location.href="{:U('home/index/article')}";
                    }
                    // remindBox(data.msg);
                },
                "json");
        });
	</script>   


	</body>
</html>