
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
<!-- External CSS -->
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/eops.base.min.css?v=1541078824a18cef" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/eops.content.min.css?v=1541078824a18cef" type="text/css"/>
    <script src="__PUBLIC_HIS__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/layer/layer.js"></script>

	
				<link rel="stylesheet" href="https://img.guahao.com/front/hps-pc-static/css/questions.css?v=1541078824a18cef" type="text/css"/>
		
		    <title>发布文章 | 择医网</title>
	</head>
	
	<body>
		<!-- #g-wrapper -->
		<div id="g-wrapper" class="gc-new">
			 <include file="Public:dochead" />


            <!-- end of #gh -->
            <div class="g-container">
				
<div class="g-menubar noprint">
	<!-- 医生个人简介 -->
	<div  class="top">
		<div class="head-box">
                        <img src="https://img.guahao.com/portal_upload/userheadpic/pYf27810846_180x180.?timeStamp=1543038789523" alt="李旭峰大夫" class="head-img"/>
		</div>
		<div class="info">
			<div class="basic-info">
				<h1>李旭峰&nbsp;</h1>
				<span></span>
			</div>
			<div class="dept-info">
				         		上海中医药大学附属龙华医院<span class="dept"></span>
				         		<span class="dept">1222室</span>
			</div>
			<a href="#" class="more-info" monitor="doctorweb,menu,personal_data">个人资料</a>
		</div>
	</div>

	<ul class="menu-parent-box">
			<li class="menu-parent "><a href="{:U('home/index/doctorhome')}" monitor="doctorweb,menu,hmpg"><i class="grsy"></i>个人首页</a></li>
					<li class="menu-parent ">
					<a href="javascript:;"
					
					
					class="hasChild J_ParentMenu">
						<i style="background: url(https://kano.guahao.cn/J5t37110059) no-repeat"></i>
						
					     账号设置
						</a>
									<div class="menu-child-box hide">
									   	<a class="menu-child " href="{:U('home/index/authprofile')}" monitor="doctorweb,menu,accountset_myinfo"
										  >
										   
								   		个人资料</a>
									   	<a class="menu-child " href="{:U('home/index/head_pic_settings')}" monitor="doctorweb,menu,accountset_pichead"
										  >
										   
								   		头像设置</a>
									   	<a class="menu-child " href="{:U('home/index/authaccout')}" monitor="doctorweb,menu,accountset_info"
										  >
										   
								   		账号信息</a>
									   	<a class="menu-child " href="{:U('home/index/authtomod')}" monitor="doctorweb,menu,accountset_password"
										  >
										   
								   		修改密码</a>
									</div>
					</li>
					<li class="menu-parent ">
					<a href="javascript:;"
					
					
					class="hasChild J_ParentMenu">
						<i style="background: url(https://kano.guahao.cn/FIU37110407) no-repeat"></i>
						
					     帮助与反馈
						</a>
									<div class="menu-child-box hide">
									   	<a class="menu-child " href="{:U('home/index/authoperation')}" 
										  >
										   
								   		操作手册</a>
									   	<a class="menu-child active" href="#" >
										   
								   		我的文章</a>
									   	<a class="menu-child " href="#" 
										  >
										   
								   		常见问题</a>
									</div>
					</li>
	</ul>
</div>

				<!-- #gc -->
				<!-- #gc -->
<!---->


<div id="gc" class="gp-questions questions-common" data-module="questions-help">
	<div class="gc-mask">
	
		<div class="content-admin g-clear g-content">
			<div id="g-breadcrumb">
				<a href="{:U('home/index/doctorhome')}">首页</a>&gt;
				<a href="#">帮助与反馈</a>&gt;
				<span>我的文章</span>
			</div>
			<div class="g-tab g-content-widget">
                <div class="questions-list">
                	<div class="search-box">
                    	
                    <!-- 	<button type="submit" class="search-button" style="width:160px;border-radius: 2px;">发布文章</button>
                    	<ul class="search-result J_ResultBox"></ul> -->
                    </div>
                    <div class="dashed-line"></div>
                    <span style="font-family: 微软雅黑,宋体; font-size:2em;color:#000000">发布新文章 <a href="" onclick="javascript:history.back()" style="float:right;font-size:15px;">返回></a></span>
                    <div></div>
                   &nbsp;&nbsp;
                     <hr style="height:1px;border:none;border-top:1px solid #888888;" /> 
				    <foreach name="res" item="vo">
                     <div style="float: center">
                     <br><br>
                     <span style="font-size:15px;color:#000000;width:10px;">文章分类</span>
                     &nbsp;
                     <input type="text" name="namelist" id="namelist" value="{$vo.type}" style="width:200px;height:30px;border-radius: 2px;">
                      &nbsp; &nbsp; &nbsp; &nbsp;
                     <span style="font-size:15px;color:#000000;width:10px;">来源</span>
                      &nbsp; 
                    
                      <input type="radio" name="blues" id="blue" value="1" <if condition="$vo.socure eq 1">checked </if>>
                       &nbsp;原创 
                      &nbsp; &nbsp;

                    <input type="radio" name="blues" id="blues" value="2" <if condition="$vo.socure eq 2">checked </if>>
                      &nbsp;转载

                     &nbsp; &nbsp; &nbsp; &nbsp;
                     <input type="radio" name="toplist" id="toplist" value="1"<if condition="$vo.top eq 1">checked </if> > &nbsp;置顶
                     <br/>
                  
                     </div>
                     &nbsp;<br>
                       <span style="font-size:15px;color:#000000;width:10px;">标题</span>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" name="titlelist" id="titlelist" value="{$vo.title}" style="width:200px;height:30px;border-radius: 2px;">
                      &nbsp; &nbsp; &nbsp; &nbsp;
                    
                </div>
                 <div class="input-group listSeaForm wb100 mt10">
                <span class="input-group-btn">
                    <span class="btn" style="font-size:15px;color:#000000;width:10px;">文章内容：</span>
                </span>
                <!-- <textarea name="" id="addUnit" name="addUnit" value="" cols="100" rows="6"></textarea> -->
             
            </div>
            <div style="display: none">
             <include file="Public:edit"/>
            </div>
            
               <textarea id="myEditor" name="myEditor" style=" ">
              
             </textarea>
             <input type="hidden" id="articleids" name="article" value="{$vo.id}">
            <input type="hidden" id="textarea" name="ins_id" value="{$vo.textarea}">
            <br>
           
           </foreach>
            <div style="float:center">
          <button  class="search-button editor" style="border-radius: 2px; width: 166px; height: 100%;color: #fff;font-size: 24px;background-color: #589bff;border: none;cursor: pointer;">编辑文章</button>
</div>
			</div>


	    </div>
	</div>
	<!-- end of .gc-mask -->
</div>
<!-- end of #gc -->
<span id="gi_page_totop" class="gi gi-page-totop"></span>

				<!-- end of #gc -->
				<div class="clear"></div>
			</div>
			<!-- #gf -->
			<div id="gf" class="gf-new">
	<div class="g-container">
		<p>网友、医生言论仅代表其个人观点，不代表本站同意其说法，本站不承担由此引起的法律责任</p>	
		<p>择医网提供平台支持 Copyright 2011-2018版权所有。&nbsp;&nbsp;</p>
	</div>
</div>
			<!-- end of #gf -->
		</div>	
		<!-- end of #g-wrapper -->
		

	<script type="text/javascript"> 
         var textarea = $("#textarea").val();
         var mylist = $("#myEditor").val(textarea);
         UE.getEditor('myEditor');

	 //编辑文章保存
        $(document).ready(function() {
            $('.editor').click(function(){

            var word = document.getElementById('textarea').innerHTML=UE.getEditor('myEditor').getContent();
          
            var namelist = $('#namelist').val();
            var blues = $("input[name='blues']:checked").val();
            var toplist = $("#toplist").val();
            var titlelist = $("#titlelist").val();
            var uid = $("#articleids").val();

            
           
         
            $.post("{:U('/home/index/editorarticlelist')}",
                {"namelist":namelist,"blues":blues,"toplist":toplist,"titlelist":titlelist,"word":word,"uid":uid},
                function (data) {

                    if (data.status=='success') {
                    	alert('文章添加成功！等待管理员审核');
                       window.location.href="{:U('home/index/article')}";
                    }
                    // remindBox(data.msg);
                },
                "json");
            });
        });
	</script>   


	</body>
</html>