
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<title>找回密码-验证身份</title>
		<meta name="description" content="微医微医 - 网上挂号，网上预约，找医院，找医生" />
	    <meta name="keywords" content="微医，微医，网上挂号，网上预约，找医院，找医生" />
<link rel="canonical" href="https://www.guahao.com/forget/findPwd"/>


<meta http-equiv="Cache-Control" content="no-transform" />
	
<link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />


	<!-- <link rel="stylesheet" href="https://static.guahao.cn/front/portal-pc-static/css/portal.base.min.css" type="text/css"/> -->


	<link rel="stylesheet" href="__PUBLIC_HOME__/css/wens/portal.base.min.css?v=1542352557776f11" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.basic.min.css?v=1542352557776f11" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.hdd.min.css?v=1542352557776f11" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.content.min.css?v=1542352557776f11" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/style.min.css?v=1542352557776f11" type="text/css"/>
	<link rel="stylesheet" href="__PUBLIC_HOME__/css/animate.min.css?v=20141222" type="text/css"/>
  <script src="__PUBLIC_HIS__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/layer/layer.js"></script>
<style>
#validate_span:hover{
	background: #dff2ff;
    color: #377bee;
    transition: none;
}
</style>
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="https://static.guahao.cn/front/portal-pc-static/css/ie6.css?v=1542352557776f11"/>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" media="screen" href="https://static.guahao.cn/front/portal-pc-static/css/ie7.css?v=1542352557776f11"/>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" media="screen" href="https://static.guahao.cn/front/portal-pc-static/css/ie8.css?v=1542352557776f11"/>
<![endif]-->

<script  type="text/javascript">
	$GF = [];

	GreenLine = {};
	// 打点日志全局变量
	GreenLine.Log = {
		url:'https://track.guahao.cn/blank.gif?',
		requestMethod:'POST',
		loginId:'',
		perSessiionId:'15423309907270187250131711',
		shortSessionId:'1542703043997',
		referurl:'https://www.guahao.com/forget/index',
		userAgent:'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.90 Safari/537.36 2345Explorer/9.3.2.17331',
		errorEventName:'portal_pc_js_error',
		token: "",
		monitorLog : false
	}
	// 老的埋点，已废弃，后面统一删除HTML上的埋点
	function _smartlog(link,mod){return true;};
</script>
	
	<meta name="baidu-site-verification" content="57686414b1d482996129434c5fa1d3d1"/>
	
</head>
<body>
      
	


 

<div id="g-wrapper" class="g-wrapper "> 
	<div id="gh">
  <include file="Public:headlist" />
			    <div class="gh-main">
			     <div class="container g-clear">
			    	<div class="gh-logo  gh-logo-txt">
			    		<a  href="https://www.guahao.com"  class="logo " onmousedown="return _smartlog(this,'LOG')" monitor="public_logo,publick_logo,headlogo"></a>
				    	   <span class="header-title-name"><b class="text">找回密码</b></span>

			    	</div>
				   </div>
			    </div>
<div class="gh-home-menu J_NewMenu">

	<div class="container g-clear  container-small  ">
		<div class="home-menu-ctn">
			  <include file="Public:headtop" />
			
	</div>
	<div class="sub-nav" id="sub-nav">
		<ul class="consult" id="sub-nav-consult">
			<li><a href="https://www.guahao.com/before/consult/ask" target="_blank" onmousedown="return _smartlog(this,'MNUM')">免费咨询</a></li>
			<li><a href="https://www.guahao.com/search/expert?ed=%E4%B8%8D%E9%99%90&edt=%E4%B8%8D%E9%99%90&iSq=1&fg=1&q=&pi=all&p=%E5%85%A8%E5%9B%BD&ci=all&c=%E4%B8%8D%E9%99%90&o=all&es=all&hl=all&ht=all&hk=all&dt=all&dty=all&hdi=&mf=true&fg=0&ipIsShanghai=false&searchAll=Y&hospitalId=&standardDepartmentId=&consult=2&volunteerDoctor=&imagetext=&phone=all&video=&sort=consult_custom" target="_blank" onmousedown="return _smartlog(this,'MNUZ')">专家问诊</a></li>
			<li><a href="https://www.guahao.com/search/expert?fg=1&ed=%E4%B8%8D%E9%99%90&edt=%E4%B8%8D%E9%99%90&q=&iSq=1&pi=all&p=%E5%85%A8%E5%9B%BD&ci=all&c=%E4%B8%8D%E9%99%90&o=all&es=all&hl=all&ht=all&hk=all&dt=all&dty=all&hdi=&mf=true&fg=0&ipIsShanghai=false&searchAll=Y&hospitalId=&standardDepartmentId=&consult=2&volunteerDoctor=1&imagetext=&phone=&video=&sort=volunteer_custom&fhc=1" target="_blank" onmousedown="return _smartlog(this,'MNUY')">义诊专家</a></li>
		</ul>
		<ul class="consult" id="sub-nav-welife">
			<li><a href="https://www.guahao.com/gdyl/index" target="_blank" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,health,medical">高端医疗</a></li>
			<li><a href="https://www.guahao.com/mediafocus/detail/7116" target="_blank" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,health,medical">微医严选</a></li>
		</ul>
	</div>

</div>
	</div>

	<div id="gc"> 
		

<div id="g-cfg" class="template-style progress-style gp-findps-tel" data-module="account">
	<div class="g-progressbar" id="progressbarDv">
		<ul class="g-progressbar-text g-clear">
			<li class="">填写登录名</li>
			<li class="on">验证身份</li>
			<li class="">设置新密码</li>
			<li class="gfm-item">完成</li>
		</ul>
		<ul class="g-progressbar-pic g-clear"> 
			<li class="g-circle g-left-finished"><span>1</span></li>
			<li class="g-line"></li>
			<li class="g-circle  js-middle1 g-middle-actived"><span>2</span></li>
			<li class="g-line"></li>
			<li class="g-circle g-middle "><span>3</span></li>
			<li class="g-line"></li>
			<li class="g-circle  g-right"><span>4</span></li>
		</ul>
    </div>
	<!-- .content -->
	<div class="template-content g-clear">
		<div class="main-content">
			   <form action="https://www.guahao.com/forget/findbymobile" id="findPsFormMobile"  method="post">
				    <input type="hidden" name="userId" value="058D343F84B00A4B" id="encodeUserId"/>
				    <input type="hidden" name="findPwdType" value="1" />
					      <div class="g-tips-box-error hide">
					     	 <span class="gi gi-error"></span>
					    	 <span class="content"></span>
					      </div>
						     <div class="g-tips-box-succ hide">
						   		<span class="gi gi-succ"></span>
						   		<span class="content"></span>
						   	</div>
				    <ul>
						<li class="send-code">
						   <label >请选择验证身份方式：</label>
						    <select id="styleSelect">
						    		<option value="/forget/toPage?findPwdType=1&userId=058D343F84B00A4B">已认证手机</option>
						    </select>
						</li>
						<li class="send-code">
							<label>登录名：</label>
							<span>{$oldphone}</span>
						</li>
						<li class="send-code">
							<label>已验证手机：</label>
							<input type="hidden" name="phone" id="phone" value="{$phone}"/>
							<span>{$newphone}</span>
						</li>
						<li class="captcha">
							<label >短信验证码：</label>
							<input type="hidden" name ="codelist" id="codelist" value="">
							<input type="text" name="validcode" autocomplete="off" data-message="不能为空" id="validcode" class="text hide" data-required="1" maxlength="6" style="display: inline-block;">
						  <span class="gbn gbtblue send-code J_Captcha" id="validate_span" onclick="sendsms(this);">获取验证码</span>
							<div class="sendmg js-send-error hide">
						     	<span class="gi gi-error"></span>
						    	<span class="content">sdf</span>
					        </div>
						    <div class="sendmg js-send-succ hide">
						   		<span class="gi gi-succ"></span>
						   		<span class="content">sdfsdf</span>
						   	</div>
						 </li>
						 <li class="action">
					    	<label>&nbsp;</label>
							<a href="javascript:;" class="gbn gbt-green" id="submitButtom">下一步</a>
						</li>
					</ul>
			  </form>
		</div>
    </div>
    <div class="progress-bg"></div>
</div>	 
	</div>
	  <include file="Public:bottom" />


<div class="">
	<script type="text/javascript">
 
	

		//发送验证码函数
    function sendsms(e){
    var phone = $('#phone').val();//手机号码
      $.post( 
        "/home/index/checkcode.php",//传递的方法
        {phone:phone},//参数
        function (res){
        	
            $("#codelist").val(res);
         
          },
          'json'
        )
        /*发送验证码功能*/
        countdown(e);                                   //若发送验证码成功，则调用倒计时函数
    }
    //倒计时函数
    var time = 60;
    function countdown(e){

        if (time == 0) {
            //e.setAttribute('disabled',false);         对没有disbaled属性的span标签，此方法无效
            e.setAttribute("onclick","sendsms(this)");
            $("#validate_span").html("获取验证码");
            time = 10;
        }else{
            //e.attr('disabled',true);                  对没有disbaled属性的span标签，此方法也无效
            //e.setAttribute("onclick", '');            这样写也可以
            e.removeAttribute("onclick");
            $("#validate_span").html("重新发送(" + time + ")");
            time--;
            setTimeout(function() {
                countdown(e)
            },1000)
        }
   
    }
     $(function () {
     	$("#submitButtom").click(function(){
     		var codelist = $("#codelist").val();
     		var validcode = $("#validcode").val();
     		if(validcode==''){
     			layer.msg('验证码不能为空');
     			return false;
     		}
     		if(codelist!= validcode){
     			layer.msg('验证码错误！');
     			return false;
     		}
     		
     		window.location.href ='http://www.sou.com/index.php/home/index/findbymobile';
     	});
     });
	</script>  
</div>
</body>
</html>