<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>择医网(挂号网)-互联网医院在线诊疗平台</title>
    <meta name="keywords" content="挂号网,择医网,互联网医院,预约挂号,网上预约,网上挂号,网上预约挂号,在线问诊,在线咨询,健康资讯,医院挂号,医院预约,专家门诊" />
    <meta name="description" content="择医网,互联网医院国家试点平台,聚合了全国重点医院,学科带头人,副主任以上的医师,提供预约挂号,在线诊疗,电子处方,在线配药全方位服务。找大专家,上择医网。" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="/m">
    <meta name="mobile-agent" content="format=html5; url=/m">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/portal.base.min.css?v=1535436384237752" type="text/css" />
      <script src="__PUBLIC_HIS__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/layer/layer.js"></script>

    <script type="text/javascript">
        $GF = [];
        GreenLine = {};
        //打点日志全局变量
        GreenLine.Log = {

            }
            // 老的埋点，后面统一删除HTML上的埋点
        function _smartlog(link, mod) {
            return true;
        };
        // 老的浏览器兼容H5标签
        (function() {
            if (/MSIE [6-8]/.test(navigator.userAgent.toUpperCase())) {
                var tags = "header,footer,section,article,aside,details,summary,figure,figcaption,nav,menu".split(",");
                document.write("<style>" + tags.toString() + "{display:block}</style>");
                for (var i = 0; i < tags.length; document.createElement(tags[i]), i++);
            }
        })();
        // 图片加载失败,error设置默认图片也加载失败避免死循环
        window.NoFind = function(src) {
            var img = event.srcElement;
            img.src = src;
            img.onerror = null;
        };
    </script>
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/index.css?v=1535436384237752" type="text/css" />
    <meta name="shenma-site-verification" content="9bfa5c53d29a8d687154a0d8dbe23383_1542098342">
</head>

<body>





    <div id="g-wrapper" class="g-wrapper g-page-1200 landing-wrapper">
        <div id="gh">
            <!--[if lt IE 8]>
<div class="g-browser-update">你的浏览器实在太旧了，为了更加安全和方便地进行挂号，推荐您升级浏览器：<a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
           <include file="Public:headlist" />
            <div class="gh-main">
                <div class="container g-clear">
                    <div class="gh-logo ">
                        <!-- <a href="/"  onmousedown="" monitor="public_logo,publick_logo,headlogo"></a> -->
                      <a href="{:U('home/index/index')}">
                        <img class="logolist "  style="background-size: cover;width: 190px;height: 89px;display: inline-block;" src="__PUBLIC_HOME__/images/logolist.jpg" alt="择医网" class="wy-logo"></a>
                       
                    </div>




                    <div class="gh-search gh-web-search gh-search-left ">
                         <form class="gh-search-form" action="{:U('home/index/search')}" name="qform">
                            <span class="gh-search-input">
                <span class="search-icon"></span>
                            <input type="text" name="q" value="" id="J_SearchQs" autocomplete="off" maxlength="50"  placeholder="请输入疾病名、科室名、医院名或医生名" />
                          
                            </span>
                            <a class="gbn gbt-green2 radius-right big-search-bt"  id="searchid">搜索</a>
                            <div class="clear"></div>
                        </form>
                        <div class="search-key">

                            <a monitor="public_search,public_search,searchhot" monitor-search-q="防治冠心病" monitor-click-rank="0" href="" target="_blank" class=" J_SearchHot">
                            防治冠心病
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="高血压病" monitor-click-rank="1" href="/s.html?q=%E9%AB%98%E8%A1%80%E5%8E%8B%E7%97%85" class=" J_SearchHot">
                            高血压病
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="流感" monitor-click-rank="2" href="/s.html?q=%E6%B5%81%E6%84%9F" class=" J_SearchHot">
                            流感
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="心肌梗塞" monitor-click-rank="3" href="/s.html?q=%E5%BF%83%E8%82%8C%E6%A2%97%E5%A1%9E" class=" J_SearchHot">
                            心肌梗塞
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="骨折" monitor-click-rank="4" href="/s.html?q=%E9%AA%A8%E6%8A%98" class=" J_SearchHot">
                            骨折
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="心肌炎" monitor-click-rank="5" href="/s.html?q=%E5%BF%83%E8%82%8C%E7%82%8E" class=" J_SearchHot">
                            心肌炎
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="结膜炎" monitor-click-rank="6" href="/s.html?q=%E7%BB%93%E8%86%9C%E7%82%8E" class=" J_SearchHot">
                            结膜炎
                        </a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="支气管炎" monitor-click-rank="7" href="/s.html?q=%E6%94%AF%E6%B0%94%E7%AE%A1%E7%82%8E" class=" J_SearchHot">
                            支气管炎
                        </a>


                        </div>
                    </div>
                    <span class="gh-search-tips"></span>
                </div>
            </div>
            <div class="gh-home-menu J_NewMenu">

                <div class="container g-clear  ">
                    <div class="home-menu-ctn">
                          <include file="Public:headtop" />



<div class="main-category-nav J_DiseaseCategory">
      <a href="{:U('home/index/index')}">
     <h3><i></i>   首页</h3></a>
                            <div class="nav-cats-wrapper J_FastCategory" style="display:block">
                                <ul>
                                    <li data-id="1">
                                        <h5 class="title"><i class="nk"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">内科</a></h5>
                                        <span class="sub-ds">
        <a  class="first"  onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'糖尿病'+'&searchType=search'; " monitor="public_fastselect,div,hotsick">糖尿病</a>
        <a   onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'高血压'+'&searchType=search'; ">高血压</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'冠心病'+'&searchType=search';" monitor="public_fastselect,div,hotsick">冠心病</a>
        </span>
                                    </li>
                                    <li data-id="2">
                                        <h5 class="title"><i class="wk"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">外科</a></h5>
                                        <span class="sub-ds">
        <a  onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'乳腺癌'+'&searchType=search';" class="first" monitor="public_fastselect,div,hotsick">乳腺癌</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'血管瘤'+'&searchType=search';" monitor="public_fastselect,div,hotsick">血管瘤</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'肝癌'+'&searchType=search';" monitor="public_fastselect,div,hotsick">肝癌</a>
        </span>
                                    </li>
                                    <li data-id="3">
                                        <h5 class="title"><i class="fck"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">妇产科</a></h5>
                                        <span class="sub-ds">
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'不孕'+'&searchType=search';" class="first" monitor="public_fastselect,div,hotsick">不孕</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'阴道炎'+'&searchType=search';" monitor="public_fastselect,div,hotsick">阴道炎</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'卵巢囊肿'+'&searchType=search';" monitor="public_fastselect,div,hotsick">卵巢囊肿</a>
        </span>
                                    </li>
                                    <li data-id="4">
                                        <h5 class="title"><i class="pfk"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">皮肤性病科</a></h5>
                                        <span class="sub-ds">
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'白癜风'+'&searchType=search';" class="first" monitor="public_fastselect,div,hotsick">白癜风</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'湿疹'+'&searchType=search';" monitor="public_fastselect,div,hotsick">湿疹</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'银屑病'+'&searchType=search';" monitor="public_fastselect,div,hotsick">银屑病</a>
        </span>
                                    </li>
                                    <li data-id="5">
                                        <h5 class="title"><i class="gk"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">骨科</a></h5>
                                        <span class="sub-ds">
                                        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'颈椎病'+'&searchType=search';" class="first" monitor="public_fastselect,div,hotsick">颈椎病</a>
                                        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'腰椎间盘突出症'+'&searchType=search';" monitor="public_fastselect,div,hotsick">腰椎间盘突出症</a>
        </span>
                                    </li>
                                    <li data-id="6">
                                        <h5 class="title"><i class="wgk"></i><a onmousedown="return _smartlog(this,'NAV')" target="_blank" href="">耳鼻咽喉科</a></h5>
                                        <span class="sub-ds">
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'鼻咽癌'+'&searchType=search';" class="first" monitor="public_fastselect,div,hotsick">鼻咽癌</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'鼻炎'+'&searchType=search';" monitor="public_fastselect,div,hotsick">鼻炎</a>
        <a onclick=" window.location.href='{:U('home/index/search')}'+'?q='+'白内障'+'&searchType=search';" monitor="public_fastselect,div,hotsick">白内障</a>
        </span>
                                    </li>
                                    <li class="other" data-id="8">
                                        <h5 class="title"><i class="qt"></i>其它科室</h5>
        </li>

</ul>
</div>
</div>



                    </div>
                </div>
                <div class="sub-nav" id="sub-nav">
                    <ul class="consult" id="sub-nav-consult">
                        <li><a href="ask.html" target="_blank" onmousedown="return _smartlog(this,'MNUM')">免费咨询</a></li>
                        <li><a href="/s.html/expert?ed=%E4%B8%8D%E9%99%90&edt=%E4%B8%8D%E9%99%90&iSq=1&fg=1&q=&pi=all&p=%E5%85%A8%E5%9B%BD&ci=all&c=%E4%B8%8D%E9%99%90&o=all&es=all&hl=all&ht=all&hk=all&dt=all&dty=all&hdi=&mf=true&fg=0&ipIsShanghai=false&searchAll=Y&hospitalId=&standardDepartmentId=&consult=2&volunteerDoctor=&imagetext=&phone=all&video=&sort=consult_custom"
                                target="_blank" onmousedown="return _smartlog(this,'MNUZ')">专家问诊</a></li>
                        <li><a href="/s.html/expert?fg=1&ed=%E4%B8%8D%E9%99%90&edt=%E4%B8%8D%E9%99%90&q=&iSq=1&pi=all&p=%E5%85%A8%E5%9B%BD&ci=all&c=%E4%B8%8D%E9%99%90&o=all&es=all&hl=all&ht=all&hk=all&dt=all&dty=all&hdi=&mf=true&fg=0&ipIsShanghai=false&searchAll=Y&hospitalId=&standardDepartmentId=&consult=2&volunteerDoctor=1&imagetext=&phone=&video=&sort=volunteer_custom&fhc=1"
                                target="_blank" onmousedown="return _smartlog(this,'MNUY')">义诊专家</a></li>
                    </ul>
                    <ul class="consult" id="sub-nav-welife">
                        <li><a href="#" target="_blank" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,health,medical">高端医疗</a></li>
                        <li><a href="#" target="_blank" onmousedown="return _smartlog(this,'MNU')" monitor="public_menu,health,medical">择医网严选</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div id="gc">

            <div id="g-cfg" class="gp-index" data-fo-help="1" data-fo-appcode="1" data-loadpop="wyapp,remind" data-header-fixed="1" data-module="home" data-rightbar="1">
                <div class="focus-wrapper J_FocusSection">
                    <div class="focus-inner">
                        <ul class="focus-container J_FocusSlider">
                            <li class="focus-pannel" style="background:#ffa4a7;">
                                <div class="banner-container J_BannerCtn">
                                    <a target="_blank" href="#" monitor="home_activity,advmain,slideitem">
                                        <img class="main-banner J_MainBanner" src="__PUBLIC_HOME__/images/P-1.1.1-800-350.jpg" data-img="__PUBLIC_HOME__/images/P-1.1.1-800-350.jpg" width="800" height="350">
                                    </a>
                                </div>
                            </li>
                            <li class="focus-pannel" style="background:#fca03d;">
                                <div class="banner-container J_BannerCtn">
                                    <a target="_blank" href="#" monitor="home_activity,advmain,slideitem">
                                        <img class="main-banner J_MainBanner" src="__PUBLIC_HOME__/images/P-1.1.1PCBANNER800-350.jpg" data-img="__PUBLIC_HOME__/images/P-1.1.1PCBANNER800-350.jpg" width="800" height="350">
                                    </a>
                                </div>
                            </li>
                            <li class="focus-pannel" style="background:#182F86;">
                                <div class="banner-container J_BannerCtn">
                                    <a target="_blank" href="#" monitor="home_activity,advmain,slideitem">
                                        <img class="main-banner J_MainBanner" src="__PUBLIC_HOME__/images/999888.jpg" data-img="__PUBLIC_HOME__/images/999888.jpg" width="800" height="350">
                                    </a>
                                </div>
                            </li>
                            <li class="focus-pannel" style="background:#6234CA;">
                                <div class="banner-container J_BannerCtn">
                                    <a target="_blank" href="#" monitor="home_activity,advmain,slideitem">
                                        <img class="main-banner J_MainBanner" src="__PUBLIC_HOME__/images/111222.jpg" data-img="__PUBLIC_HOME__/images/111222.jpg" width="800" height="350">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-container">
                    <div class="side-inner">
                        <div class="side-banner">

                            <!-- 右侧banner静态数据 -->


                            <a target="_blank" href="#" rel="nofollow" onmousedown="return _smartlog(this,'BNA')">
                                <img src="__PUBLIC_HOME__/images/slide-new-banner1.png" width="209" height="117" alt="择医网用户版">
                            </a>
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'BNB')">
                                <img src="__PUBLIC_HOME__/images/slide-new-banner2.png" width="209" height="117" alt="诊治中心">
                            </a>
                            <a target="_blank" href="#" onmousedown="return _smartlog(this,'BNB')">
                                <img src="__PUBLIC_HOME__/images/slide-new-banner3.png" width="209" height="117" alt="大家帮">
                            </a>

                        </div>
                    </div>
                </div>
                <div class="g-container news-pannel">
                    <div class="news-container g-clear">
                        <div class="health-news">
                            <ul class="g-clear J_HealthNewsList" style="opacity: 0">
                                <li>
                                    <a target="_blank" href="#" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,pic">
                                        <img src="https://kano.guahao.cn/ceC36994932" alt="" width="90" height="55" onerror="this.src='https://static.guahao.cn/front/portal-pc-static/img/newscenter-unknow.png';">
                                    </a>

                                    <p>
                                        <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,title">
                                高血压不想吃药？还有哪些降血压...</a>
                                        <span class="summary">高血压是引发心血管疾病的一项重要因素，将血压降至目标水平...
                                &nbsp;
                                <a target="_blank" href="#"
                                   onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,detail">[详细]
                                </a>
                            </span>
                                    </p>
                                </li>
                                <li>
                                    <a target="_blank" href="#" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,pic">
                                        <img src="https://kano.guahao.cn/NvG35056875" alt="" width="90" height="55" onerror="this.src='https://static.guahao.cn/front/portal-pc-static/img/newscenter-unknow.png';">
                                    </a>

                                    <p>
                                        <a target="_blank" href="#" class="title" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,title">
                                关于“血脂异常”，你想问的在这...</a>
                                        <span class="summary">近年来，我国血脂异常的流行趋势日益严重。血脂异常会导致冠...
                                &nbsp;
                                <a target="_blank" href="#"
                                   onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,advicon,detail">[详细]
                                </a>
                            </span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="focus-news">
                            <h5><a href="#" target="_blank" monitor="home_activity,newscenter,newscenter">资讯中心
                <img class="news-img" src="https://static.guahao.cn/front/portal-pc-static/img/2015/home/news.png" alt="">
            </a>

                                <i class="ao"></i><i class="ai"></i></h5>
                            <ul>
                                <li><a target="_blank" href="#" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,newscenter,news">严律南：让传统拥抱互联网
                                    <i class="hot"></i></a></li>
                                <li><a target="_blank" href="#" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,newscenter,news">廖万清：互联网医疗利国利民</a></li>
                                <li><a target="_blank" href="#" onmousedown="return _smartlog(this,'NWS')" monitor="home_activity,newscenter,news">夏照帆：一切为了患者</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="g-container landing-section booking-section J_BookingSection">
                     <include file="Public:among"/>
                     <include file="Public:amonglist"/>
                </div>
               
                 <include file="Public:headtoplist" />

                 <include file="Public:headbottom" />

                 <include file="Public:headbottomlist" />


            </div>
            <div class="helpqs-list hide">

            </div>

        </div>

        <include file="Public:bottom" />

        <div id="gm-bg"></div>
        <div id="gm-mask">
        </div>

        <script type="text/javascript">
            $GC = {
                debug: false,
                echartServer: '//im-web.guahao.cn',
                isLogined: true,
                guahaoServer: 'https://www.guahao.com',
                staticServer: 'https://static.guahao.cn',
                imageServer: 'https://h2img.guahao.com',
                kanoServer: 'https://kano.guahao.cn',
                serviceServer: 'https://service.guahao.com',
                eopsServer: 'http://doctor.guahao.com',
                wepayServer: 'https://wepay.guahao.com',
                mobilevalidcodepwd: 'lvxian95169124',
                version: "1535436384237752",
                encodeId: "54F020F27593F4FC",
                jsCPath: "https://static.guahao.cn" + "/common/js",
                jspath: "https://static.guahao.cn" + "/front/portal-pc-static/js",
                domainEnd: 'guahao.com',
                bbsServer: 'https://bbs.guahao.com',
                gatewayServer: 'https://api-gateway.guahao.com',
                cloudcardServer: "https://service-api-finance.guahao.com",
                jkljServer: 'https://www.healthhlj.cn',
                weiYiH5GuahaoServer: 'https://wy.guahao.com'
            };

            // $GS { Array } - the init parameters for startup
            $GS = [
                // $GC.jspath + "/plugins/scout.js?_=1535436384237752",
                // $GC.jspath + "/plugins/raven.js?_=1535436384237752",
                // $GC.jsCPath + "/base/jquery-1.8.1.min.js",
                $GC.jspath + "/base/GH.js?_=1535436384237752",
                // $GC.jsCPath + "/plugins/validator.js?_=20160129",
                function() {

                    // load common module
                    GL.load([GH.adaptModule("common")]);

                    // load the modules defined in page
                    var moduleName = $("#g-cfg").data("module");
                    if (moduleName) {
                        var module = GH.modules[moduleName];
                        if (!module) {
                            module = GH.adaptModule(moduleName);
                        }
                        if (module) {
                            GL.load([module]);
                        }
                    }

                    if ($GU.isIE6()) {
                        GL.load([$GC.jspath + "/hack/ie6.js"]);
                    }
                }
            ];
        </script>
      <script type="text/javascript" src="__PUBLIC_HOME__/js/GL.js?_=1535436384237752"></script>
          <script type="text/javascript" src="__PUBLIC_HOME__/js/GH.js?_=1535436384237752"></script>
       <script type="text/javascript">
           $(document).ready(function(){
            $('#searchid').click(function(){

                var q = $('#J_SearchQs').val();
               
                if(q){
                     window.location.href='{:U('home/index/search')}'+'?q='+q+'&searchType=search'; 
                }
              
              
            });
            // alert(99);
         
           });
       </script>
       <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/common/css/layout.css" />
<script type="text/javascript" src="__PUBLIC_HOME__/common/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC_HOME__/common/js/common.js"></script>

       <div class="suspend">
  <dl>
    <dt class="IE6PNG"></dt>
    <dd class="suspendQQ"><a href="tencent://message/?Site=baidu.com&uin=1569602446&Menu=yes" target="_blank"></a></dd>
    <dd class="suspendTel"><a href="javascript:void(0);"></a></dd>
  </dl>
</div>
<!--[if IE 6]><script type="text/javascript" src="common/js/IE6PNG.js"></script>
<script type="text/javascript">PNGmin.fix(".IE6PNG");</script><![endif]-->
<script type="text/javascript">           
Common.init();
</script>
</body>

</html>