
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
    <meta name="baidu-site-verification" content="Rk9zXLfIEQ" />
    <title>医生说｜糖尿病也能治愈！它的最佳治愈期你错过了吗？ - 择医网（挂号网）</title>
    <meta charset="utf-8">
    <meta name="description" content="糖尿病，绝大多数人应该都不陌生，这是一个“哪怕我自己不是糖尿病患者，我身边亲朋好友都一定会有几个是”的病！大家普遍认为糖尿病是一辈子的病，没法根治，但其实，糖尿。医生说的文章" />
    <meta name="mobile-agent" content="format=html5; url=https://sns.guahao.com/topic/yWOls32914951727316993" />
    <meta name="keywords" content="医生说｜糖尿病也能治愈！它的最佳治愈期你错过了吗？,医生说,糖尿病前期,高血糖,大血管病,糖尿病" />
<link rel="canonical" href="https://bbs.guahao.com/topic/yWOls32914951727316993"/>
<!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/health.base.min.css?v=1540800883543" type="text/css"/>



    <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/common/common.css?_=1540800883543" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/index.css?_=1540800883543" type="text/css"/>
<style type="text/css">
    .focus-forhot{
        font-size:20px;

    }
    .focus-forhot:hover{
        color:red;
    }
    .date{
        float: right;
    color: #888;
    font-size: 12px;
    }
    .g-article>a{
        text-decoration: none;
    }
</style>
</head>
<body>

<div id="gc" class="gp-topic" data-module="topic/index">

<div class="g-header">
    <div class="g-header-box">
        <a href="{:U('home/index/index')}" >
      
          <img class="g-logo "   src="__PUBLIC_HOME__/images/logolist.jpg" alt="择医网" class="wy-logo">
        </a>
        <div class="g-login">
             <!--    您好！请 <span id="J_Login" class="login">登录</span> | <span class="register" id="J_Register">注册</span> -->
        </div>
    </div>
</div>
<div class="g-content">
    <div class="g-whole">
        <div class="g-article">
            <foreach name="datalist" item="vo">
            <a href="{:U('home/index/topic')}?ins_id={$vo.ins_id}" target="_blank">
            <div class="focus-forhot">{$vo.inspection_name}<span class="date">{$vo['create_time']|date='Y-m-d',###}</span></div>

            </a>
            
            <br/>
            </foreach>
            <div class="g-share">
            <div class="gp-mask" id="J_GpMask">
                <p class="title"><span>提示</span><span class="close" id="J_CloseMask">x</span></p>
                <div class="content">
                    <p class="content-tip">您已经顶过了！</p>
                    <div class="content-ok" id="J_Ensure">确认</div>
                </div>
            </div>
                <div class="g-yq">
                    <div class="g-circle" id="J_Support" >
                        <span class="ding-text">顶</span>
                        <span id="J_SupportNum" class="ding-number">86</span>
                    </div>
                    
                </div>
                <div class="popup-qrcode-box" id="J_QrcodeBox">
                    <p class="popup-header"><i class="close" id="J_QrcodeClose"></i></p>
                    <div class="popup-qrcode" id="J_Qrcode"></div>

                </div>
            
            </div>
            <div class="d-icon" style="width:250px;">
            <include file="Public:test"/>

            </div> 
            <hr class="share-division">
                <div class="g-tuijian">
                    <div class="g-label">
                        <span>相关推荐:</span>
                    </div>
                    <div class="tj-list">
                            <div class="tj-content">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                            </a>
                            <a href="/topic/vIDim26461660889841665" target="_blank" class="tj-title" title="结果发现喝醋者能使餐后血糖下降">结果发现喝醋者能使餐后血糖下降</a>
                        </div>
                            <div class="tj-content">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                            </a>
                            <a href="/topic/bnCiA188326" target="_blank" class="tj-title" title="高血糖饮食禁忌有什么？">高血糖饮食禁忌有什么？</a>
                        </div>
                            <div class="tj-content tj-last">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                            </a>
                            <a href="/topic/UVDzI189880" target="_blank" class="tj-title" title="七招帮你搞定高血糖">七招帮你搞定高血糖</a>
                        </div>
                            <div class="tj-content">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;" >
                            </a>
                            <a href="/topic/puJRQ177553" target="_blank" class="tj-title" title="尿糖和血糖，谁才是导致糖尿病的罪魁祸首？">尿糖和血糖，谁才是导致糖尿病的罪魁祸首？</a>
                        </div>
                            <div class="tj-content">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                            </a>
                            <a href="/topic/qEuya111085" target="_blank" class="tj-title" title="高血糖饮食清单">高血糖饮食清单</a>
                        </div>
                            <div class="tj-content tj-last">
                            <a class="img-con-div" href="" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                            </a>
                            <a href="/topic/ycHcr201816" target="_blank" class="tj-title" title="引起空腹高血糖的原因，不能只知其一不知其二">引起空腹高血糖的原因，不能只知其一不知其二</a>
                        </div>
                    </div>
                </div>
        </div>
            <div class="g-doctor">
                <div class="g-jianjie">
                    <a class="doc-pic-container" id="J_PicContainer"  href="/health/kiBvB60135221">
                        <span id="J_SpanSrc" data-src="https://kano-sns.guahao.cn/TMG24743557.jpg?token=4d2d4ab94a631926b2c4f4ead4f140fb"></span>
                    </a>
                    <div class="doc-name">
                        <span>医生说</span>
                    </div>
                    <div class="doc-jianjie doc-scroll">
                        <label>简介:</label>
                        <span>择医官方健康号，专家医生深度科普，一篇文章讲透一个疾病。</span>
                    </div>
                        <a class="doc-health-btn" href="/health/kiBvB60135221">去Ta主页</a>
            </div>
                <div class="g-doc-article">
                    <div class="arc-title">
                        <span>Ta最近的文章</span>
                    </div>
                    <hr  class="lin-sx">
                    <div class="arc-list">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                医生说｜脾胃不好膏方来调！冬季进补正当时
                                </span>
                                </div>
                                <span class="arc-hover">
                                脾胃病不能吃膏方？那是你没吃对！
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                医生说｜糖尿病也能治愈！它的最佳治愈期你错过了吗？
                                </span>
                                </div>
                                <span class="arc-hover">
                                拒绝糖尿病，从干预糖尿病前期开始！
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                医生说｜男人排尿有问题是肾不好？可能是尿道出了问题！
                                </span>
                                </div>
                                <span class="arc-hover">
                                治愈尿道狭窄，解决男人的尴尬。
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                【科普时间】备孕宝典：当“妈”不难
                                </span>
                                </div>
                                <span class="arc-hover">
                                怀孕这件事，也要讲科学~
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                    </div>
                </div>
                <div class="g-doc-article">
                    <div class="arc-title"><span>热门文章</span></div>
                    <hr  class="lin-sx">
                    <div class="arc-list">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                医生说｜糖尿病也能治愈！它的最佳治愈期你错过了吗？
                                </span>
                                </div>
                                <span class="arc-hover">
                                拒绝糖尿病，从干预糖尿病前期开始！
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                医生说｜男人排尿有问题是肾不好？可能是尿道出了问题！
                                </span>
                                </div>
                                <span class="arc-hover">
                                治愈尿道狭窄，解决男人的尴尬。
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                著名主持人李咏患癌去世，癌症该如何预防？
                                </span>
                                </div>
                                <span class="arc-hover">
                                昨天，一条令人震惊而又悲痛的消息传遍了整个网络：央视著名主持人李咏去...
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                                <hr  class="lin-xx">
                            <a class="arc-label" href="" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                女子被不栓狗绳的狗主人殴打至骨折
                                </span>
                                </div>
                                <span class="arc-hover">
                                最近杭州一则“女子被不栓狗绳的狗主人殴打至骨折”的新闻引发舆论关注。...
                                    <span class="arc-all">全文</span>
                                </span>
                            </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            </div>
        </div>
<div class="g-bottom">
   <include file="Public:bottom"/>
</div>
</div>


</body>
</html>
