
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
    <meta name="baidu-site-verification" content="Rk9zXLfIEQ" />
    <title>{$reslist.inspection_name} - 择医网（挂号网）</title>
    <meta charset="utf-8">
    <meta name="description" content="糖尿病，绝大多数人应该都不陌生，这是一个“哪怕我自己不是糖尿病患者，我身边亲朋好友都一定会有几个是”的病！大家普遍认为糖尿病是一辈子的病，没法根治，但其实，糖尿。医生说的文章" />
    <meta name="mobile-agent" content="format=html5; url=https://sns.guahao.com/topic/yWOls32914951727316993" />
    <meta name="keywords" content="医生说｜糖尿病也能治愈！它的最佳治愈期你错过了吗？,医生说,糖尿病前期,高血糖,大血管病,糖尿病" />
<link rel="canonical" href="https://bbs.guahao.com/topic/yWOls32914951727316993"/>
<!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/health.base.min.css?v=1540800883543" type="text/css"/>



    <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/common/common.css?_=1540800883543" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC_HOME__/css/topic/index.css?_=1540800883543" type="text/css"/>
</head>
<body>

<div id="gc" class="gp-topic" data-module="topic/index">

<div class="g-header">
    <div class="g-header-box">
        <a href="{:U('home/index/index')}" >
      
          <img class="g-logo "   src="__PUBLIC_HOME__/images/logolist.jpg" alt="择医网" class="wy-logo">
        </a>
        <div class="g-login">
             <!--    您好！请 <span id="J_Login" class="login">登录</span> | <span class="register" id="J_Register">注册</span> -->
        </div>
    </div>
</div>
<div class="g-content">
    <div class="g-whole">
        <div class="g-article">
            <div class="g-wenzhang">
                <div class="g-title">
                        <span class="g-icon">原创</span>
                    <span class="span-title">{$reslist.inspection_name}</span>
                </div>
                <div class="g-time">
                    <span class="span-time">{$reslist.create_time|date='Y-m-d H:i',###}</span>
                   
                </div>
                <hr class="division">
                   <!--  <div class="g-daoyu">
                        <span class="J_filter">拒绝糖尿病，从干预糖尿病前期开始！</span>
                    </div> -->
                    <div id="J_TopicContent" class="g-zw">
                    {$reslist.unit}
                    {$reslist.textarea}
                    </div>
            </div>
            <div class="g-share">
            <div class="gp-mask" id="J_GpMask">
                <p class="title"><span>提示</span><span class="close" id="J_CloseMask">x</span></p>
                <div class="content">
                    <p class="content-tip">您已经顶过了！</p>
                    <div class="content-ok" id="J_Ensure">确认</div>
                </div>
            </div>
                <div class="g-yq">
                    <div class="g-circle" id="J_Support" >
                        <span class="ding-text">顶</span>
                        <span id="J_SupportNum" class="ding-number">86</span>
                    </div>
                   
                </div>
                 </span> <include file="Public:test"/>
                <div class="popup-qrcode-box" id="J_QrcodeBox">
                    <p class="popup-header"><i class="close" id="J_QrcodeClose"></i></p>
                    <div class="popup-qrcode" id="J_Qrcode"></div>
                </div>
            </div>
            <hr class="share-division">
                <div class="g-tuijian">
                    <div class="g-label">
                        <span>相关推荐:</span>
                    </div>
                    <div class="tj-list">
                       
                           <foreach name="recommend" item="vo" >
                            <div class="tj-content tj-last">
                            <a class="img-con-div" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" id="J_relatedImgCon">
                                <img class="tj-img" src="__PUBLIC_HOME__/images/default-cover.png" style="width:260px;height:153px;">
                                
                            </a>
                            <a href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" target="_blank" class="tj-title" title="">{$vo.inspection_name}</a>
                        </div>
                           
                           </foreach>
                           
                           
                          
                    </div>
                </div>
        </div>
            <div class="g-doctor">
                <div class="g-jianjie">
                   
                        
                        <img class="doc-pic-container" style="width:140px;;" src="__PUBLIC_HOME__/images/1511164061343.jpg">
                   <a class="doc-pic-container" style="height: 0" href=""></a>
                    <div class="doc-name">
                        <span>择医网</span>
                    </div>
                    <div class="doc-jianjie doc-scroll">
                        <label>简介:</label>
                        <span>择医官方健康号，专家医生深度科普，一篇文章讲透一个疾病。</span>
                    </div>
                        <a class="doc-health-btn" href="{:U('home/index/fastorder')}">去Ta主页</a>
            </div>
                <div class="g-doc-article">
                    <div class="arc-title">
                        <span>最近的文章</span>
                    </div>
                    <hr  class="lin-sx">
                    <div class="arc-list">
                        <foreach name="articlelist" item="vo" >
                            <a class="arc-label" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                               {$vo.inspection_name}
                                </span>
                                </div>
                               <!--  <span class="arc-hover">
                                脾胃病不能吃膏方？那是你没吃对！
                                    <span class="arc-all">全文</span>
                                </span> -->
                            </a>
                                <hr  class="lin-xx">
                            </foreach>
                          
                           
                    </div>
                </div>
                <div class="g-doc-article">
                    <div class="arc-title"><span>热门文章</span></div>
                    <hr  class="lin-sx">
                    <div class="arc-list">
                          <foreach name="articlelist" item="vo" >
                            <a class="arc-label" href="{:U('home/index/allorderlist')}?ins_id={$vo.ins_id}" target="_blank">
                                <div class="d-arc-text">
                                <span class="arc-text">
                                        <span class="arc-icon"></span>
                                {$vo.inspection_name}
                                </span>
                                </div>
                                
                            </a>
                                <hr  class="lin-xx">
                            </foreach>
                           
                             
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            </div>
        </div>
<div class="g-bottom">
   <include file="Public:bottom"/>
</div>
</div>


</body>
</html>
