<!DOCTYPE html>
<html>
<head>
	<title>知情同意书</title>
	 <link rel="shortcut icon" href="__PUBLIC_HOME__/favicon.ico" />
</head>
<body>
<img src="__PUBLIC_HOME__/images/pro53151758.png"><br/>
<img src="__PUBLIC_HOME__/images/s5V53151767.png"><br/>
<img src="__PUBLIC_HOME__/images/90753151801.png"><br/>
<img src="__PUBLIC_HOME__/images/BvC53151807.png"><br/>
<img src="__PUBLIC_HOME__/images/Ppw53151811.png"><br/>
<img src="__PUBLIC_HOME__/images/lEI53151816.png"><br/>
<img src="__PUBLIC_HOME__/images/Nzi53151821.png"><br/>
<img src="__PUBLIC_HOME__/images/1AP53151832.png"><br/>
<img src="__PUBLIC_HOME__/images/KeZ54421216.jpg">
</body>
</html>