 /* 设置二级菜单绝对定位，并隐藏 */
    .menuDiv > ul > li > ul {
        position: absolute;
        display: none;
    }
    .menuDiv > ul > li > a:hover {
        color: #f0f;
        background-color: #bcf;
    }
     .menuDiv > ul > li:hover ul {
        display: block;
    }
     /* 二级菜单 */
    .menuDiv > ul > li > ul > li > a {
        width: 120px;
        line-height: 36px;
        color: #456;
        background-color: #eff; 
        text-align: center;
        /*border: 1px solid #ccc;*/
        border-top: none;
        display: block;
    }
     /* 在二级菜单中，第一个设置顶边框 */
    .menuDiv > ul > li > ul > li:first-child > a {
        border-top: 1px solid #ccc;
    }
     /* 在二级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > ul > li > a:hover {
        color: #a4f;
        background-color: #cdf;
    }
  